.bounce-top {
  display: block;
  animation: bounce-top 2s infinite both;
}

@keyframes bounce-top {
  0% {
    transform: translateY(-45px);
    animation-timing-function: ease-in;
    opacity: 1;
    color: #ef476f;
  }
  24% {
    opacity: 1;
  }
  40% {
    transform: translateY(-24px);
    animation-timing-function: ease-in;
  }
  65% {
    transform: translateY(-12px);
    animation-timing-function: ease-in;
  }
  25%, 55%, 75%, 87% {
    transform: translateY(0px);
    animation-timing-function: ease-out;
  }
  100% {
    transform: translateY(0px);
    animation-timing-function: ease-out;
    opacity: 1;
  }
}
.animation {
  animation: itemAnimation 0.6s both;
}

.animationReverse {
  animation: itemAnimationReverse 0.6s both;
}

@keyframes itemAnimation {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes itemAnimationReverse {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
.loginAnimation {
  animation: loginItemAnimation 0.6s forwards;
}

.loginAnimationReverse {
  animation: loginItemAnimationReverse 0.6s forwards;
}

@keyframes loginItemAnimation {
  from {
    transform: translateX(-300%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes loginItemAnimationReverse {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-300%);
  }
}
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  color: aliceblue;
  background-color: #333;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

h2 {
  text-align: center;
  text-transform: uppercase;
}

.orange-text {
  color: #ef476f;
  font-weight: bold;
}

.gold-text {
  color: #ffd166;
  font-weight: bold;
}

.shadow-bg {
  background-color: rgba(0, 0, 0, 0.85);
}

.underline {
  background-color: #ef476f;
  width: 220px;
  height: 5px;
  margin: 0 auto 30px;
}

.navbar-left {
  height: 108vh;
}

.account .hero-img {
  position: relative;
  height: 120vh;
  background-image: url("/assets/img/backgroundAccount.png");
  background-position: center;
  background-size: cover;
  z-index: 0;
  overflow: hidden;
}
.account .hero-img .hero-shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: -5;
}
.account .hero-img .box-account {
  position: absolute;
  top: 90px;
  left: 300px;
  width: calc(100% - 300px);
  height: 89%;
  overflow-y: scroll;
}
.account .hero-img .box-account .box-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85%;
  margin: 0 auto;
  margin-top: 20px;
}
.account .hero-img .box-account .box-container .title {
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.85);
  border-radius: 20px;
  font-size: 24px;
  font-style: italic;
  letter-spacing: 1px;
  text-align: center;
}
.account .hero-img .box-account .box-container .container-account {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.85);
  border-radius: 20px;
  padding: 20px;
}
.account .hero-img .box-account .box-container .container-account .title-header {
  letter-spacing: 2px;
  font-size: 14px;
  margin-bottom: 3px;
  padding-left: 20px;
}
.account .hero-img .box-account .box-container .container-account .content {
  font-weight: bold;
}
.account .hero-img .box-account .box-container .container-account hr {
  width: 80%;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  height: 5px;
  margin: 5px;
}
.account .hero-img .box-account .box-container .container-account .account-details,
.account .hero-img .box-account .box-container .container-account .account-instructor {
  width: 80%;
  font-size: 19px;
  padding: 10px;
}
.account .hero-img .box-account .box-container .container-account .account-details span,
.account .hero-img .box-account .box-container .container-account .account-instructor span {
  color: #4cc9f0;
  font-weight: bold;
}
.account .hero-img .box-account .box-container .container-account .account-details .instructors-list,
.account .hero-img .box-account .box-container .container-account .account-instructor .instructors-list {
  width: 100%;
  margin-top: 20px;
  overflow: scroll;
}
.account .hero-img .box-account .box-container .container-account .account-details .instructors-list .instructors-table,
.account .hero-img .box-account .box-container .container-account .account-instructor .instructors-list .instructors-table {
  width: 80%;
  margin: 0 auto;
  border-collapse: collapse;
  background-color: rgba(0, 0, 0, 0.85);
  border-radius: 10px;
  overflow: hidden;
}
.account .hero-img .box-account .box-container .container-account .account-details .instructors-list .instructors-table th,
.account .hero-img .box-account .box-container .container-account .account-details .instructors-list .instructors-table td,
.account .hero-img .box-account .box-container .container-account .account-instructor .instructors-list .instructors-table th,
.account .hero-img .box-account .box-container .container-account .account-instructor .instructors-list .instructors-table td {
  text-align: center;
  font-size: 15px;
  padding: 7px;
  color: #f5f5f5;
}
.account .hero-img .box-account .box-container .container-account .account-details .instructors-list .instructors-table th,
.account .hero-img .box-account .box-container .container-account .account-instructor .instructors-list .instructors-table th {
  background-color: #ef476f;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
}
.account .hero-img .box-account .box-container .container-account .account-details .instructors-list .instructors-table td,
.account .hero-img .box-account .box-container .container-account .account-instructor .instructors-list .instructors-table td {
  background-color: rgba(0, 0, 0, 0.75);
}
.account .hero-img .box-account .box-container .container-account .account-details .instructors-list .instructors-table tbody tr:nth-child(even),
.account .hero-img .box-account .box-container .container-account .account-instructor .instructors-list .instructors-table tbody tr:nth-child(even) {
  background-color: rgb(109, 107, 107);
}
.account .hero-img .box-account .box-container .container-account .account-details .instructors-list .instructors-table .table-student-row,
.account .hero-img .box-account .box-container .container-account .account-instructor .instructors-list .instructors-table .table-student-row {
  position: relative;
  transition: transform 0.3s ease;
}
.account .hero-img .box-account .box-container .container-account .account-details .instructors-list .instructors-table .table-student-row .cancel-instructor,
.account .hero-img .box-account .box-container .container-account .account-instructor .instructors-list .instructors-table .table-student-row .cancel-instructor {
  position: absolute;
  left: -120px;
  padding-right: 20px;
  transition: transform 0.3s ease;
}
.account .hero-img .box-account .box-container .container-account .account-details .instructors-list .instructors-table .table-student-row:hover,
.account .hero-img .box-account .box-container .container-account .account-instructor .instructors-list .instructors-table .table-student-row:hover {
  cursor: pointer;
  background-color: black;
  padding-left: 100px;
  transform: translateX(120px);
}
.account .hero-img .box-account .box-container .container-account .account-details .instructors-list .instructors-table .table-student-row.clicked,
.account .hero-img .box-account .box-container .container-account .account-instructor .instructors-list .instructors-table .table-student-row.clicked {
  transform: translateX(120px);
}
.account .hero-img .box-account .box-container .container-account .account-details .select-instructor,
.account .hero-img .box-account .box-container .container-account .account-instructor .select-instructor {
  padding: 10px 0px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: space-around;
  align-items: center;
}
.account .hero-img .box-account .box-container .container-account .account-details .select-instructor input,
.account .hero-img .box-account .box-container .container-account .account-details .select-instructor select,
.account .hero-img .box-account .box-container .container-account .account-instructor .select-instructor input,
.account .hero-img .box-account .box-container .container-account .account-instructor .select-instructor select {
  height: 35px;
  outline: none;
  border: none;
  border: 2px solid #f5f5f5;
  padding: 0 10px;
  font-size: 16px;
  font-weight: 500;
  color: #373c4f;
  border-radius: 5px;
}
.account .hero-img .box-account .box-container .container-account .account-details .select-instructor input:focus,
.account .hero-img .box-account .box-container .container-account .account-details .select-instructor select:focus,
.account .hero-img .box-account .box-container .container-account .account-instructor .select-instructor input:focus,
.account .hero-img .box-account .box-container .container-account .account-instructor .select-instructor select:focus {
  outline: none;
  border-color: #b51b75;
}
.account .hero-img .box-account .box-container .container-account .account-details .select-instructor button,
.account .hero-img .box-account .box-container .container-account .account-details .select-instructor input,
.account .hero-img .box-account .box-container .container-account .account-instructor .select-instructor button,
.account .hero-img .box-account .box-container .container-account .account-instructor .select-instructor input {
  margin: 7px;
}
.account .hero-img .box-account .box-container .container-account .account-details button.correct-btn,
.account .hero-img .box-account .box-container .container-account .account-details .delete-btn,
.account .hero-img .box-account .box-container .container-account .account-details .info-btn,
.account .hero-img .box-account .box-container .container-account .account-details .cancel-btn,
.account .hero-img .box-account .box-container .container-account .account-instructor button.correct-btn,
.account .hero-img .box-account .box-container .container-account .account-instructor .delete-btn,
.account .hero-img .box-account .box-container .container-account .account-instructor .info-btn,
.account .hero-img .box-account .box-container .container-account .account-instructor .cancel-btn {
  font-size: 18px;
  height: 35px;
  padding: 0px 10px;
  border: none;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  transition: 0.3s ease;
}
.account .hero-img .box-account .box-container .container-account .account-details button.correct-btn:hover,
.account .hero-img .box-account .box-container .container-account .account-details .delete-btn:hover,
.account .hero-img .box-account .box-container .container-account .account-details .info-btn:hover,
.account .hero-img .box-account .box-container .container-account .account-details .cancel-btn:hover,
.account .hero-img .box-account .box-container .container-account .account-instructor button.correct-btn:hover,
.account .hero-img .box-account .box-container .container-account .account-instructor .delete-btn:hover,
.account .hero-img .box-account .box-container .container-account .account-instructor .info-btn:hover,
.account .hero-img .box-account .box-container .container-account .account-instructor .cancel-btn:hover {
  transform: scale(1.05);
}
.account .hero-img .box-account .box-container .container-account .account-details button.add-btn,
.account .hero-img .box-account .box-container .container-account .account-instructor button.add-btn {
  background-color: #2de300;
}
.account .hero-img .box-account .box-container .container-account .account-details button.add-btn:hover,
.account .hero-img .box-account .box-container .container-account .account-instructor button.add-btn:hover {
  background-color: #23b000;
}
.account .hero-img .box-account .box-container .container-account .account-details button.info-btn,
.account .hero-img .box-account .box-container .container-account .account-instructor button.info-btn {
  background-color: #4d84e2;
}
.account .hero-img .box-account .box-container .container-account .account-details button.info-btn:hover,
.account .hero-img .box-account .box-container .container-account .account-instructor button.info-btn:hover {
  background-color: #2366d9;
}
.account .hero-img .box-account .box-container .container-account .account-details button.delete-btn,
.account .hero-img .box-account .box-container .container-account .account-instructor button.delete-btn {
  background-color: #ef476f;
}
.account .hero-img .box-account .box-container .container-account .account-details button.delete-btn:hover,
.account .hero-img .box-account .box-container .container-account .account-instructor button.delete-btn:hover {
  background-color: #eb184a;
}
.account .hero-img .box-account .box-container .container-account .account-details button.cancel-btn,
.account .hero-img .box-account .box-container .container-account .account-instructor button.cancel-btn {
  background-color: #ffd166;
}
.account .hero-img .box-account .box-container .container-account .account-details button.cancel-btn:hover,
.account .hero-img .box-account .box-container .container-account .account-instructor button.cancel-btn:hover {
  background-color: #ffc233;
}
.account .hero-img .box-account .box-container .container-account .account-instructor {
  width: 100%;
}

.contact {
  padding: 20px;
  position: relative;
  background-image: url("../img/contact.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  z-index: 200;
}
.contact i {
  padding: 10px;
  font-size: 24px;
  color: springgreen;
  transition: 0.3s;
}
.contact i:hover {
  color: #ffd166;
}
.contact h2 {
  font-size: 32px;
  font-weight: bold;
}
.contact .contact-shadow {
  z-index: -5;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
}
.contact .contact-us {
  display: flex;
  align-items: center;
}
.contact .contact-us .contact-item {
  margin: 30px 0px;
}
.contact .contact-us .contact-item h3 {
  margin-bottom: 20px;
  color: #e0ff72;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
}
.contact .contact-us .contact-item p {
  font-size: 18px;
  color: antiquewhite;
}

@media (max-width: 950px) {
  .account .hero-img .box-account {
    top: 90px;
    left: 0px;
    width: 100%;
  }
  .account .hero-img .box-account .container-account {
    width: 100%;
  }
  .account .hero-img .box-account .container-account .account-details,
  .account .hero-img .box-account .container-account .account-instructor {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 100%;
  }
  .account .hero-img .box-account .container-account .account-details p,
  .account .hero-img .box-account .container-account .account-instructor p {
    text-align: center;
    font-size: 13px;
  }
  .navbar-left {
    display: none;
  }
  .navbar-left .navbar-nav .logout {
    display: block;
  }
  .navbar-top button {
    display: block;
  }
  .navbar-top .box-account {
    display: none;
  }
}/*# sourceMappingURL=account.css.map */