.bounce-top {
  display: block;
  animation: bounce-top 2s infinite both;
}

@keyframes bounce-top {
  0% {
    transform: translateY(-45px);
    animation-timing-function: ease-in;
    opacity: 1;
    color: #ef476f;
  }
  24% {
    opacity: 1;
  }
  40% {
    transform: translateY(-24px);
    animation-timing-function: ease-in;
  }
  65% {
    transform: translateY(-12px);
    animation-timing-function: ease-in;
  }
  25%, 55%, 75%, 87% {
    transform: translateY(0px);
    animation-timing-function: ease-out;
  }
  100% {
    transform: translateY(0px);
    animation-timing-function: ease-out;
    opacity: 1;
  }
}
.animation {
  animation: itemAnimation 0.6s both;
}

.animationReverse {
  animation: itemAnimationReverse 0.6s both;
}

@keyframes itemAnimation {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes itemAnimationReverse {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
.loginAnimation {
  animation: loginItemAnimation 0.6s forwards;
}

.loginAnimationReverse {
  animation: loginItemAnimationReverse 0.6s forwards;
}

@keyframes loginItemAnimation {
  from {
    transform: translateX(-300%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes loginItemAnimationReverse {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-300%);
  }
}
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  color: aliceblue;
  background-color: #333;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

h2 {
  text-align: center;
  text-transform: uppercase;
}

.orange-text {
  color: #ef476f;
  font-weight: bold;
}

.gold-text {
  color: #ffd166;
  font-weight: bold;
}

.shadow-bg {
  background-color: rgba(0, 0, 0, 0.85);
}

.underline {
  background-color: #ef476f;
  width: 220px;
  height: 5px;
  margin: 0 auto 30px;
}

.details .hero-img {
  position: relative;
  height: 110vh;
  background-image: url("../img/backgroundPaneldashboard.png");
  background-position: center;
  background-size: cover;
  overflow: hidden;
}
.details .hero-img .box-container {
  position: absolute;
  top: 100px;
  left: 300px;
  width: calc(100vw - 300px);
  max-height: 97vh;
  overflow-y: auto;
}
.details .hero-img .box-container .container {
  width: 100%;
  margin: 0 auto;
  --bs-gutter-x: 0;
}
.details .hero-img .box-container .container .title {
  display: inline-block;
  padding: 20px 10px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 20px;
  font-size: 20px;
  font-style: italic;
  letter-spacing: 1px;
  text-align: center;
  white-space: nowrap;
  margin: 20px auto;
}
.details .hero-img .box-container .container .mini-title {
  margin: 0px auto;
  padding: 20px 10px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 20px;
  font-size: 16px;
  font-style: italic;
  letter-spacing: 1px;
  text-align: center;
  box-shadow: 0px 0px 15px 3px rgba(7, 59, 76, 0.4352941176);
  width: -moz-fit-content;
  width: fit-content;
}
.details .hero-img .box-container .container .mini-title-warning,
.details .hero-img .box-container .container .mini-title-course-warning {
  margin: 20px auto;
  padding: 20px 15px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 20px;
  font-size: 16px;
  font-style: italic;
  letter-spacing: 1px;
  text-align: center;
  border: 5px dotted #ef476f;
}
.details .hero-img .box-container .container .warning-text {
  text-align: center;
  margin: 10px auto;
  max-width: 400px;
  font-weight: bold;
  background-color: rgba(51, 51, 51, 0.4784313725);
  border-radius: 10px;
  padding: 10px;
  padding-left: 35px;
  position: relative;
  color: #ffd166;
  border-left: 4px solid #ffd166;
  border-right: 4px solid #ffd166;
}
.details .hero-img .box-container .container .warning-text::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: inherit;
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  content: "\f071";
}
.details .hero-img .box-container .container .add-btn,
.details .hero-img .box-container .container .delete-btn,
.details .hero-img .box-container .container .info-btn,
.details .hero-img .box-container .container .cancel-btn {
  font-size: 18px;
  height: 35px;
  padding: 0px 10px;
  border: none;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  transition: 0.3s ease;
}
.details .hero-img .box-container .container .add-btn:hover,
.details .hero-img .box-container .container .delete-btn:hover,
.details .hero-img .box-container .container .info-btn:hover,
.details .hero-img .box-container .container .cancel-btn:hover {
  transform: scale(1.05);
}
.details .hero-img .box-container .container button.delete-btn {
  background-color: #ef476f;
}
.details .hero-img .box-container .container button.delete-btn:hover {
  background-color: #eb184a;
}
.details .hero-img .box-container .container button.add-btn {
  background-color: #2de300;
}
.details .hero-img .box-container .container button.add-btn:hover {
  background-color: #23b000;
}
.details .hero-img .box-container .container button.info-btn {
  background-color: #4d84e2;
}
.details .hero-img .box-container .container button.info-btn:hover {
  background-color: #2366d9;
}
.details .hero-img .box-container .container button.cancel-btn {
  background-color: #ffc233;
}
.details .hero-img .box-container .container button.cancel-btn:hover {
  background-color: #ffb200;
}
.details .hero-img .box-container .container .box-course .course-schoolUser,
.details .hero-img .box-container .container .box-course .editCourse-schoolUser {
  width: auto;
  max-width: 700px;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.details .hero-img .box-container .container .box-course .course-schoolUser .btn-box,
.details .hero-img .box-container .container .box-course .editCourse-schoolUser .btn-box {
  margin: 10px 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;
}
.details .hero-img .box-container .container .box-course .course-schoolUser .btn-box button,
.details .hero-img .box-container .container .box-course .editCourse-schoolUser .btn-box button {
  font-size: 16px;
}
.details .hero-img .box-container .container .box-course .course-schoolUser .course-details .detail,
.details .hero-img .box-container .container .box-course .course-schoolUser .course-details .detail-title,
.details .hero-img .box-container .container .box-course .course-schoolUser .course-details .detail-comment,
.details .hero-img .box-container .container .box-course .editCourse-schoolUser .course-details .detail,
.details .hero-img .box-container .container .box-course .editCourse-schoolUser .course-details .detail-title,
.details .hero-img .box-container .container .box-course .editCourse-schoolUser .course-details .detail-comment {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 10px;
  border-bottom: 2px solid aliceblue;
  border-radius: 10px 10px 0 0;
  gap: 10px;
}
.details .hero-img .box-container .container .box-course .course-schoolUser .course-details .detail .title-header,
.details .hero-img .box-container .container .box-course .course-schoolUser .course-details .detail-title .title-header,
.details .hero-img .box-container .container .box-course .course-schoolUser .course-details .detail-comment .title-header,
.details .hero-img .box-container .container .box-course .editCourse-schoolUser .course-details .detail .title-header,
.details .hero-img .box-container .container .box-course .editCourse-schoolUser .course-details .detail-title .title-header,
.details .hero-img .box-container .container .box-course .editCourse-schoolUser .course-details .detail-comment .title-header {
  font-style: italic;
  font-size: 15px;
  color: #6acff1;
}
.details .hero-img .box-container .container .box-course .course-schoolUser .course-details .detail .content,
.details .hero-img .box-container .container .box-course .course-schoolUser .course-details .detail-title .content,
.details .hero-img .box-container .container .box-course .course-schoolUser .course-details .detail-comment .content,
.details .hero-img .box-container .container .box-course .editCourse-schoolUser .course-details .detail .content,
.details .hero-img .box-container .container .box-course .editCourse-schoolUser .course-details .detail-title .content,
.details .hero-img .box-container .container .box-course .editCourse-schoolUser .course-details .detail-comment .content {
  font-size: 15px;
  color: aliceblue;
  text-align: right;
}
.details .hero-img .box-container .container .box-course .course-schoolUser .course-details .detail .content span,
.details .hero-img .box-container .container .box-course .course-schoolUser .course-details .detail-title .content span,
.details .hero-img .box-container .container .box-course .course-schoolUser .course-details .detail-comment .content span,
.details .hero-img .box-container .container .box-course .editCourse-schoolUser .course-details .detail .content span,
.details .hero-img .box-container .container .box-course .editCourse-schoolUser .course-details .detail-title .content span,
.details .hero-img .box-container .container .box-course .editCourse-schoolUser .course-details .detail-comment .content span {
  margin-left: 4px;
}
.details .hero-img .box-container .container .box-course .course-schoolUser .course-details .detail .content .hours,
.details .hero-img .box-container .container .box-course .course-schoolUser .course-details .detail-title .content .hours,
.details .hero-img .box-container .container .box-course .course-schoolUser .course-details .detail-comment .content .hours,
.details .hero-img .box-container .container .box-course .editCourse-schoolUser .course-details .detail .content .hours,
.details .hero-img .box-container .container .box-course .editCourse-schoolUser .course-details .detail-title .content .hours,
.details .hero-img .box-container .container .box-course .editCourse-schoolUser .course-details .detail-comment .content .hours {
  font-weight: bold;
  color: #ffd166;
}
.details .hero-img .box-container .container .box-course .course-schoolUser .course-details .detail .content.failed,
.details .hero-img .box-container .container .box-course .course-schoolUser .course-details .detail-title .content.failed,
.details .hero-img .box-container .container .box-course .course-schoolUser .course-details .detail-comment .content.failed,
.details .hero-img .box-container .container .box-course .editCourse-schoolUser .course-details .detail .content.failed,
.details .hero-img .box-container .container .box-course .editCourse-schoolUser .course-details .detail-title .content.failed,
.details .hero-img .box-container .container .box-course .editCourse-schoolUser .course-details .detail-comment .content.failed {
  position: relative;
  color: #ef476f;
  padding-right: 20px;
}
.details .hero-img .box-container .container .box-course .course-schoolUser .course-details .detail .content.failed::after,
.details .hero-img .box-container .container .box-course .course-schoolUser .course-details .detail-title .content.failed::after,
.details .hero-img .box-container .container .box-course .course-schoolUser .course-details .detail-comment .content.failed::after,
.details .hero-img .box-container .container .box-course .editCourse-schoolUser .course-details .detail .content.failed::after,
.details .hero-img .box-container .container .box-course .editCourse-schoolUser .course-details .detail-title .content.failed::after,
.details .hero-img .box-container .container .box-course .editCourse-schoolUser .course-details .detail-comment .content.failed::after {
  content: "\f00d";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  top: -3px;
  right: 0;
  font-size: 20px;
  color: #ef476f;
}
.details .hero-img .box-container .container .box-course .course-schoolUser .course-details .detail .content.passed,
.details .hero-img .box-container .container .box-course .course-schoolUser .course-details .detail-title .content.passed,
.details .hero-img .box-container .container .box-course .course-schoolUser .course-details .detail-comment .content.passed,
.details .hero-img .box-container .container .box-course .editCourse-schoolUser .course-details .detail .content.passed,
.details .hero-img .box-container .container .box-course .editCourse-schoolUser .course-details .detail-title .content.passed,
.details .hero-img .box-container .container .box-course .editCourse-schoolUser .course-details .detail-comment .content.passed {
  position: relative;
  color: springgreen;
  padding-right: 20px;
}
.details .hero-img .box-container .container .box-course .course-schoolUser .course-details .detail .content.passed::after,
.details .hero-img .box-container .container .box-course .course-schoolUser .course-details .detail-title .content.passed::after,
.details .hero-img .box-container .container .box-course .course-schoolUser .course-details .detail-comment .content.passed::after,
.details .hero-img .box-container .container .box-course .editCourse-schoolUser .course-details .detail .content.passed::after,
.details .hero-img .box-container .container .box-course .editCourse-schoolUser .course-details .detail-title .content.passed::after,
.details .hero-img .box-container .container .box-course .editCourse-schoolUser .course-details .detail-comment .content.passed::after {
  content: "\f00c";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  top: -4px;
  right: -3px;
  font-size: 20px;
  color: springgreen;
}
.details .hero-img .box-container .container .box-course .course-schoolUser .course-details .detail-title,
.details .hero-img .box-container .container .box-course .editCourse-schoolUser .course-details .detail-title {
  flex-direction: column;
}
.details .hero-img .box-container .container .box-course .course-schoolUser .course-details .detail-title .content,
.details .hero-img .box-container .container .box-course .editCourse-schoolUser .course-details .detail-title .content {
  text-align: center;
}
.details .hero-img .box-container .container .box-course .course-schoolUser .course-details .detail-comment,
.details .hero-img .box-container .container .box-course .editCourse-schoolUser .course-details .detail-comment {
  flex-direction: column;
}
.details .hero-img .box-container .container .box-course .course-schoolUser .course-details .detail-comment .title-header,
.details .hero-img .box-container .container .box-course .editCourse-schoolUser .course-details .detail-comment .title-header {
  text-align: center;
}
.details .hero-img .box-container .container .box-course .course-schoolUser .course-details .detail-comment ul.comment-box,
.details .hero-img .box-container .container .box-course .editCourse-schoolUser .course-details .detail-comment ul.comment-box {
  width: 100%;
  font-size: 14px;
  list-style: none;
  padding-left: 5px;
}
.details .hero-img .box-container .container .box-course .course-schoolUser .course-details .detail-comment ul.comment-box li,
.details .hero-img .box-container .container .box-course .editCourse-schoolUser .course-details .detail-comment ul.comment-box li {
  position: relative;
  margin-bottom: 7px;
  padding-left: 15px;
}
.details .hero-img .box-container .container .box-course .course-schoolUser .course-details .detail-comment ul.comment-box li::before,
.details .hero-img .box-container .container .box-course .editCourse-schoolUser .course-details .detail-comment ul.comment-box li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #99d98c;
}
.details .hero-img .box-container .container .box-course .course-schoolUser .course-details .detail-comment ul.comment-box .date-time,
.details .hero-img .box-container .container .box-course .editCourse-schoolUser .course-details .detail-comment ul.comment-box .date-time {
  color: #99d98c;
}
.details .hero-img .box-container .container .box-course .editCourse-schoolUser .course-details .detail-title input {
  width: 95%;
}
.details .hero-img .box-container .container .box-course .editCourse-schoolUser .course-details .time input {
  width: 85px;
}
.details .hero-img .box-container .container .box-course .editCourse-schoolUser .course-details .time .hours {
  font-weight: bold;
  color: #ffd166;
}
.details .hero-img .box-container .container .box-course .editCourse-schoolUser .course-details .detail-comment input,
.details .hero-img .box-container .container .box-course .editCourse-schoolUser .course-details .detail-title input,
.details .hero-img .box-container .container .box-course .editCourse-schoolUser .course-details .detail input {
  padding: 10px;
  font-size: 15px;
  color: aliceblue;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.1);
}
.details .hero-img .box-container .container .box-course .editCourse-schoolUser .course-details .detail-comment input:focus,
.details .hero-img .box-container .container .box-course .editCourse-schoolUser .course-details .detail-title input:focus,
.details .hero-img .box-container .container .box-course .editCourse-schoolUser .course-details .detail input:focus {
  outline: none;
  border-color: #ef476f;
  box-shadow: 0 0 5px rgba(239, 71, 111, 0.5);
}
.details .hero-img .box-container .container .box-course .editCourse-schoolUser .course-details .detail-comment input[type=radio],
.details .hero-img .box-container .container .box-course .editCourse-schoolUser .course-details .detail-title input[type=radio],
.details .hero-img .box-container .container .box-course .editCourse-schoolUser .course-details .detail input[type=radio] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  vertical-align: middle;
  width: 15px;
  height: 15px;
  padding: 7px;
  border: 3px solid #ffd166;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  transition: border-color 0.3s ease, background-color 0.3s ease;
}
.details .hero-img .box-container .container .box-course .editCourse-schoolUser .course-details .detail-comment input[type=radio]:hover,
.details .hero-img .box-container .container .box-course .editCourse-schoolUser .course-details .detail-title input[type=radio]:hover,
.details .hero-img .box-container .container .box-course .editCourse-schoolUser .course-details .detail input[type=radio]:hover {
  border-color: #ffc233;
}
.details .hero-img .box-container .container .box-course .editCourse-schoolUser .course-details .detail-comment input[type=radio]:checked,
.details .hero-img .box-container .container .box-course .editCourse-schoolUser .course-details .detail-title input[type=radio]:checked,
.details .hero-img .box-container .container .box-course .editCourse-schoolUser .course-details .detail input[type=radio]:checked {
  background-color: #ef476f;
  border-color: #ef476f;
}
.details .hero-img .box-container .container .box-course .editCourse-schoolUser .course-details .detail-comment input[type=radio]:checked::after,
.details .hero-img .box-container .container .box-course .editCourse-schoolUser .course-details .detail-title input[type=radio]:checked::after,
.details .hero-img .box-container .container .box-course .editCourse-schoolUser .course-details .detail input[type=radio]:checked::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  background-color: #ffd166;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
.details .hero-img .box-container .container .box-course .editCourse-schoolUser .course-details .detail-comment input[type=radio]:checked ~ label,
.details .hero-img .box-container .container .box-course .editCourse-schoolUser .course-details .detail-title input[type=radio]:checked ~ label,
.details .hero-img .box-container .container .box-course .editCourse-schoolUser .course-details .detail input[type=radio]:checked ~ label {
  font-weight: bold;
  color: #ef476f;
}
.details .hero-img .box-container .container .box-course .editCourse-schoolUser .course-details .detail-comment label,
.details .hero-img .box-container .container .box-course .editCourse-schoolUser .course-details .detail-title label,
.details .hero-img .box-container .container .box-course .editCourse-schoolUser .course-details .detail label {
  font-size: 16px;
  cursor: pointer;
  color: aliceblue;
  transition: color 0.3s ease;
}
.details .hero-img .box-container .container .box-course .editCourse-schoolUser .course-details .detail-comment label:hover,
.details .hero-img .box-container .container .box-course .editCourse-schoolUser .course-details .detail-title label:hover,
.details .hero-img .box-container .container .box-course .editCourse-schoolUser .course-details .detail label:hover {
  color: #ef476f;
}
.details .hero-img .box-container .container .box-course .editCourse-schoolUser .course-details .detail-comment .category-container,
.details .hero-img .box-container .container .box-course .editCourse-schoolUser .course-details .detail-comment .passed-box,
.details .hero-img .box-container .container .box-course .editCourse-schoolUser .course-details .detail-title .category-container,
.details .hero-img .box-container .container .box-course .editCourse-schoolUser .course-details .detail-title .passed-box,
.details .hero-img .box-container .container .box-course .editCourse-schoolUser .course-details .detail .category-container,
.details .hero-img .box-container .container .box-course .editCourse-schoolUser .course-details .detail .passed-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}
.details .hero-img .box-container .container .box-course .editCourse-schoolUser .course-details .detail-comment .category-container .category-box,
.details .hero-img .box-container .container .box-course .editCourse-schoolUser .course-details .detail-comment .category-container .passed,
.details .hero-img .box-container .container .box-course .editCourse-schoolUser .course-details .detail-comment .passed-box .category-box,
.details .hero-img .box-container .container .box-course .editCourse-schoolUser .course-details .detail-comment .passed-box .passed,
.details .hero-img .box-container .container .box-course .editCourse-schoolUser .course-details .detail-title .category-container .category-box,
.details .hero-img .box-container .container .box-course .editCourse-schoolUser .course-details .detail-title .category-container .passed,
.details .hero-img .box-container .container .box-course .editCourse-schoolUser .course-details .detail-title .passed-box .category-box,
.details .hero-img .box-container .container .box-course .editCourse-schoolUser .course-details .detail-title .passed-box .passed,
.details .hero-img .box-container .container .box-course .editCourse-schoolUser .course-details .detail .category-container .category-box,
.details .hero-img .box-container .container .box-course .editCourse-schoolUser .course-details .detail .category-container .passed,
.details .hero-img .box-container .container .box-course .editCourse-schoolUser .course-details .detail .passed-box .category-box,
.details .hero-img .box-container .container .box-course .editCourse-schoolUser .course-details .detail .passed-box .passed {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.details .hero-img .box-container .container .box-course .editCourse-schoolUser .course-details .detail-comment ul.comment-box li,
.details .hero-img .box-container .container .box-course .editCourse-schoolUser .course-details .detail-title ul.comment-box li,
.details .hero-img .box-container .container .box-course .editCourse-schoolUser .course-details .detail ul.comment-box li {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.details .hero-img .box-container .container .box-course .editCourse-schoolUser .course-details .detail-comment ul.comment-box li::before,
.details .hero-img .box-container .container .box-course .editCourse-schoolUser .course-details .detail-title ul.comment-box li::before,
.details .hero-img .box-container .container .box-course .editCourse-schoolUser .course-details .detail ul.comment-box li::before {
  top: 45%;
}
.details .hero-img .box-container .container .box-course .editCourse-schoolUser .course-details .detail-comment ul.comment-box li p,
.details .hero-img .box-container .container .box-course .editCourse-schoolUser .course-details .detail-title ul.comment-box li p,
.details .hero-img .box-container .container .box-course .editCourse-schoolUser .course-details .detail ul.comment-box li p {
  width: 140px;
  flex-shrink: 0;
  margin: 0 10px 5px 0;
}
.details .hero-img .box-container .container .box-course .editCourse-schoolUser .course-details .detail-comment ul.comment-box li .comment-actions,
.details .hero-img .box-container .container .box-course .editCourse-schoolUser .course-details .detail-title ul.comment-box li .comment-actions,
.details .hero-img .box-container .container .box-course .editCourse-schoolUser .course-details .detail ul.comment-box li .comment-actions {
  display: flex;
  flex: 1 1 230px;
  min-width: 230px;
  box-sizing: border-box;
  align-items: center;
  gap: 10px;
}
.details .hero-img .box-container .container .box-course .editCourse-schoolUser .course-details .detail-comment ul.comment-box li .comment-actions input[type=text],
.details .hero-img .box-container .container .box-course .editCourse-schoolUser .course-details .detail-title ul.comment-box li .comment-actions input[type=text],
.details .hero-img .box-container .container .box-course .editCourse-schoolUser .course-details .detail ul.comment-box li .comment-actions input[type=text] {
  flex: 1;
}
.details .hero-img .box-container .container .box-drivingSessions .account-drivingSessions {
  width: auto;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 0px auto;
}
.details .hero-img .box-container .container .box-drivingSessions .account-drivingSessions .schoolUser-drivingSessions .drivingSession {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 10px 15px;
  border-bottom: 1px solid #373c4f;
  transition: transform 0.3s ease;
}
.details .hero-img .box-container .container .box-drivingSessions .account-drivingSessions .schoolUser-drivingSessions .drivingSession:first-child {
  border-radius: 10px 10px 0 0;
}
.details .hero-img .box-container .container .box-drivingSessions .account-drivingSessions .schoolUser-drivingSessions .drivingSession .box {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}
.details .hero-img .box-container .container .box-drivingSessions .account-drivingSessions .schoolUser-drivingSessions .drivingSession .box .title-header {
  font-size: 15px;
  color: #99d98c;
}
.details .hero-img .box-container .container .box-drivingSessions .account-drivingSessions .schoolUser-drivingSessions .drivingSession .box .content,
.details .hero-img .box-container .container .box-drivingSessions .account-drivingSessions .schoolUser-drivingSessions .drivingSession .box .time {
  font-size: 15px;
  color: aliceblue;
}
.details .hero-img .box-container .container .box-drivingSessions .account-drivingSessions .schoolUser-drivingSessions .drivingSession .box .content span,
.details .hero-img .box-container .container .box-drivingSessions .account-drivingSessions .schoolUser-drivingSessions .drivingSession .box .time span {
  margin-left: 4px;
}
.details .hero-img .box-container .container .box-drivingSessions .account-drivingSessions .schoolUser-drivingSessions .drivingSession .box .time {
  display: inline-block;
  white-space: nowrap;
  margin-left: auto;
}
.details .hero-img .box-container .container .box-drivingSessions .account-drivingSessions .schoolUser-drivingSessions .drivingSession .box .time .hours {
  font-weight: bold;
  color: #ffd166;
}
.details .hero-img .box-container .container .box-drivingSessions .account-drivingSessions .schoolUser-drivingSessions .drivingSession .box img {
  width: 35px;
}
.details .hero-img .box-container .container .box-drivingSessions .account-drivingSessions .schoolUser-drivingSessions .drivingSession .operations {
  background: transparent;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -90px;
  transition: transform 0.3s ease, opacity 0.3s ease;
  display: flex;
  overflow: visible;
  gap: 6px;
  opacity: 0;
  padding: 10px;
  padding-left: 0;
}
@media (hover: hover) and (pointer: fine) {
  .details .hero-img .box-container .container .box-drivingSessions .account-drivingSessions .schoolUser-drivingSessions .drivingSession:hover {
    cursor: pointer;
    transform: translateX(100px);
  }
  .details .hero-img .box-container .container .box-drivingSessions .account-drivingSessions .schoolUser-drivingSessions .drivingSession:hover .operations {
    opacity: 1;
  }
}
.details .hero-img .box-container .container .box-drivingSessions .account-drivingSessions .schoolUser-drivingSessions .drivingSession.clicked {
  transform: translateX(100px);
}
.details .hero-img .box-container .container .box-drivingSessions .account-drivingSessions .schoolUser-drivingSessions .drivingSession.clicked .operations {
  opacity: 1;
}
.details .hero-img .box-container .container .box-drivingSessions .account-drivingSessions .schoolUser-drivingSessions .drivingSummary {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 10px 15px;
  border-top: 1px solid aliceblue;
  border-radius: 0px 0px 10px 10px;
}
.details .hero-img .box-container .container .box-drivingSessions .account-drivingSessions .schoolUser-drivingSessions .drivingSummary .box {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.details .hero-img .box-container .container .box-drivingSessions .account-drivingSessions .schoolUser-drivingSessions .drivingSummary .box .title-header {
  font-weight: bold;
  font-size: 15px;
  color: #ffd166;
}
.details .hero-img .box-container .container .box-drivingSessions .account-drivingSessions .schoolUser-drivingSessions .drivingSummary .box .content,
.details .hero-img .box-container .container .box-drivingSessions .account-drivingSessions .schoolUser-drivingSessions .drivingSummary .box .time {
  font-size: 15px;
  color: aliceblue;
}
.details .hero-img .box-container .container .box-drivingSessions .account-drivingSessions .schoolUser-drivingSessions .drivingSummary .box .content span,
.details .hero-img .box-container .container .box-drivingSessions .account-drivingSessions .schoolUser-drivingSessions .drivingSummary .box .time span {
  margin-left: 4px;
}
.details .hero-img .box-container .container .box-drivingSessions .account-drivingSessions .schoolUser-drivingSessions .drivingSummary .box .time {
  display: inline-block;
  white-space: nowrap;
  font-weight: bold;
}
.details .hero-img .box-container .container .box-drivingSessions .account-drivingSessions .schoolUser-drivingSessions .drivingSummary .box .time .hours {
  color: #ffd166;
}
.details .hero-img .box-container .container .box-drivingSessions .account-drivingSessions .schoolUser-drivingSessions .editDrivingSession {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 10px 15px;
  border: 1.5px solid #6acff1;
  transition: transform 0.3s ease;
}
.details .hero-img .box-container .container .box-drivingSessions .account-drivingSessions .schoolUser-drivingSessions .editDrivingSession:first-child {
  border-radius: 10px 10px 0 0;
}
.details .hero-img .box-container .container .box-drivingSessions .account-drivingSessions .schoolUser-drivingSessions .editDrivingSession .box-edit {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.details .hero-img .box-container .container .box-drivingSessions .account-drivingSessions .schoolUser-drivingSessions .editDrivingSession .box-edit .rowSession {
  display: flex;
  align-items: center;
}
.details .hero-img .box-container .container .box-drivingSessions .account-drivingSessions .schoolUser-drivingSessions .editDrivingSession .box-edit .top-row {
  justify-content: space-between;
}
.details .hero-img .box-container .container .box-drivingSessions .account-drivingSessions .schoolUser-drivingSessions .editDrivingSession .box-edit .top-row .title-header {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  font-size: 16px;
  color: #99d98c;
}
.details .hero-img .box-container .container .box-drivingSessions .account-drivingSessions .schoolUser-drivingSessions .editDrivingSession .box-edit .top-row .title-header img {
  width: 35px;
}
.details .hero-img .box-container .container .box-drivingSessions .account-drivingSessions .schoolUser-drivingSessions .editDrivingSession .box-edit .top-row .time {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: aliceblue;
}
.details .hero-img .box-container .container .box-drivingSessions .account-drivingSessions .schoolUser-drivingSessions .editDrivingSession .box-edit .top-row .time input {
  width: 70px;
  margin-right: 5px;
}
.details .hero-img .box-container .container .box-drivingSessions .account-drivingSessions .schoolUser-drivingSessions .editDrivingSession .box-edit .top-row .time .hours {
  font-weight: bold;
  color: #ffd166;
}
.details .hero-img .box-container .container .box-drivingSessions .account-drivingSessions .schoolUser-drivingSessions .editDrivingSession .box-edit .comment-row {
  width: 100%;
}
.details .hero-img .box-container .container .box-drivingSessions .account-drivingSessions .schoolUser-drivingSessions .editDrivingSession .box-edit .comment-row input {
  width: 100%;
}
.details .hero-img .box-container .container .box-drivingSessions .account-drivingSessions .schoolUser-drivingSessions .editDrivingSession .box-edit input {
  padding: 10px;
  font-size: 16px;
  color: aliceblue;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.1);
}
.details .hero-img .box-container .container .box-drivingSessions .account-drivingSessions .schoolUser-drivingSessions .editDrivingSession .box-edit input:focus {
  outline: none;
  border-color: #ef476f;
  box-shadow: 0 0 5px rgba(239, 71, 111, 0.5);
}
.details .hero-img .box-container .container .box-drivingSessions .account-drivingSessions .schoolUser-drivingSessions .editDrivingSession .button-group {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.details .hero-img .box-container .container .box-drivingSessions .account-drivingSessions .schoolUser-drivingSessions .newDrivingSession {
  background: linear-gradient(-135deg, rgba(0, 0, 0, 0.93), rgba(10, 76, 98, 0.8823529412));
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  max-width: 500px;
  padding: 15px;
  margin: 0 auto;
  margin-top: 25px;
}
.details .hero-img .box-container .container .box-drivingSessions .account-drivingSessions .schoolUser-drivingSessions .newDrivingSession .box-new {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.details .hero-img .box-container .container .box-drivingSessions .account-drivingSessions .schoolUser-drivingSessions .newDrivingSession .box-new .title-box {
  width: 100%;
}
.details .hero-img .box-container .container .box-drivingSessions .account-drivingSessions .schoolUser-drivingSessions .newDrivingSession .box-new .title-box p {
  font-size: 20px;
  font-weight: bold;
  color: #4cc9f0;
  margin-top: 20px;
  text-align: center;
}
.details .hero-img .box-container .container .box-drivingSessions .account-drivingSessions .schoolUser-drivingSessions .newDrivingSession .box-new .title-box hr {
  border: none;
  border-top: 1px solid aliceblue;
}
.details .hero-img .box-container .container .box-drivingSessions .account-drivingSessions .schoolUser-drivingSessions .newDrivingSession .box-new .rowSession {
  display: flex;
  align-items: center;
}
.details .hero-img .box-container .container .box-drivingSessions .account-drivingSessions .schoolUser-drivingSessions .newDrivingSession .box-new .rowSession .title-header {
  flex: 1;
  color: #fff;
  margin-right: 10px;
}
.details .hero-img .box-container .container .box-drivingSessions .account-drivingSessions .schoolUser-drivingSessions .newDrivingSession .box-new .rowSession input {
  padding: 10px;
  font-size: 16px;
  color: aliceblue;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.1);
}
.details .hero-img .box-container .container .box-drivingSessions .account-drivingSessions .schoolUser-drivingSessions .newDrivingSession .box-new .rowSession input:focus {
  outline: none;
  border-color: #ef476f;
  box-shadow: 0 0 5px rgba(239, 71, 111, 0.5);
}
.details .hero-img .box-container .container .box-drivingSessions .account-drivingSessions .schoolUser-drivingSessions .newDrivingSession .box-new .rowSession .hours {
  margin-left: 5px;
  font-size: 16px;
  font-weight: bold;
  color: #ffd166;
}
.details .hero-img .box-container .container .box-drivingSessions .account-drivingSessions .schoolUser-drivingSessions .newDrivingSession .box-new .bottom-row input {
  width: 80px;
}
.details .hero-img .box-container .container .box-drivingSessions .account-drivingSessions .schoolUser-drivingSessions .newDrivingSession .box-new .comment-row {
  flex-direction: column;
  gap: 5px;
}
.details .hero-img .box-container .container .box-drivingSessions .account-drivingSessions .schoolUser-drivingSessions .newDrivingSession .box-new .comment-row input {
  width: 90%;
}
.details .hero-img .box-container .container .box-testCourses .account-testCourses {
  width: auto;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 0px auto;
}
.details .hero-img .box-container .container .box-testCourses .account-testCourses .schoolUser-testCourses .testCourse {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 10px 15px;
  border-bottom: 1px solid #373c4f;
  transition: transform 0.3s ease;
}
.details .hero-img .box-container .container .box-testCourses .account-testCourses .schoolUser-testCourses .testCourse:first-child {
  border-radius: 10px 10px 0 0;
}
.details .hero-img .box-container .container .box-testCourses .account-testCourses .schoolUser-testCourses .testCourse .box {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}
.details .hero-img .box-container .container .box-testCourses .account-testCourses .schoolUser-testCourses .testCourse .box .title-header {
  font-size: 15px;
  color: #99d98c;
}
.details .hero-img .box-container .container .box-testCourses .account-testCourses .schoolUser-testCourses .testCourse .box .content,
.details .hero-img .box-container .container .box-testCourses .account-testCourses .schoolUser-testCourses .testCourse .box .percentagesResult {
  font-size: 15px;
  color: aliceblue;
}
.details .hero-img .box-container .container .box-testCourses .account-testCourses .schoolUser-testCourses .testCourse .box .content span,
.details .hero-img .box-container .container .box-testCourses .account-testCourses .schoolUser-testCourses .testCourse .box .percentagesResult span {
  margin-left: 4px;
}
.details .hero-img .box-container .container .box-testCourses .account-testCourses .schoolUser-testCourses .testCourse .box .content img,
.details .hero-img .box-container .container .box-testCourses .account-testCourses .schoolUser-testCourses .testCourse .box .percentagesResult img {
  width: 35px;
}
.details .hero-img .box-container .container .box-testCourses .account-testCourses .schoolUser-testCourses .testCourse .box .percentagesResult {
  display: inline-block;
  white-space: nowrap;
  margin-left: auto;
}
.details .hero-img .box-container .container .box-testCourses .account-testCourses .schoolUser-testCourses .testCourse .box .percentagesResult .percentages {
  font-weight: bold;
  color: #ef476f;
}
.details .hero-img .box-container .container .box-testCourses .account-testCourses .schoolUser-testCourses .testCourse .operations {
  background: transparent;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -90px;
  transition: transform 0.3s ease, opacity 0.3s ease;
  display: flex;
  overflow: visible;
  gap: 6px;
  opacity: 0;
  padding: 10px;
  padding-left: 0;
}
@media (hover: hover) and (pointer: fine) {
  .details .hero-img .box-container .container .box-testCourses .account-testCourses .schoolUser-testCourses .testCourse:hover {
    cursor: pointer;
    transform: translateX(100px);
  }
  .details .hero-img .box-container .container .box-testCourses .account-testCourses .schoolUser-testCourses .testCourse:hover .operations {
    opacity: 1;
  }
}
.details .hero-img .box-container .container .box-testCourses .account-testCourses .schoolUser-testCourses .testCourse.clicked {
  transform: translateX(100px);
}
.details .hero-img .box-container .container .box-testCourses .account-testCourses .schoolUser-testCourses .testCourse.clicked .operations {
  opacity: 1;
}
.details .hero-img .box-container .container .box-testCourses .account-testCourses .schoolUser-testCourses .testCourseSummary {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 10px 15px;
  border-top: 1px solid aliceblue;
  border-radius: 0px 0px 10px 10px;
}
.details .hero-img .box-container .container .box-testCourses .account-testCourses .schoolUser-testCourses .testCourseSummary .box {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.details .hero-img .box-container .container .box-testCourses .account-testCourses .schoolUser-testCourses .testCourseSummary .box .title-header {
  font-weight: bold;
  font-size: 15px;
  color: #ffd166;
}
.details .hero-img .box-container .container .box-testCourses .account-testCourses .schoolUser-testCourses .testCourseSummary .box .content,
.details .hero-img .box-container .container .box-testCourses .account-testCourses .schoolUser-testCourses .testCourseSummary .box .percentagesResult {
  font-size: 15px;
  color: aliceblue;
}
.details .hero-img .box-container .container .box-testCourses .account-testCourses .schoolUser-testCourses .testCourseSummary .box .content span,
.details .hero-img .box-container .container .box-testCourses .account-testCourses .schoolUser-testCourses .testCourseSummary .box .percentagesResult span {
  margin-left: 4px;
}
.details .hero-img .box-container .container .box-testCourses .account-testCourses .schoolUser-testCourses .testCourseSummary .box .percentagesResult {
  display: inline-block;
  white-space: nowrap;
  font-weight: bold;
}
.details .hero-img .box-container .container .box-testCourses .account-testCourses .schoolUser-testCourses .testCourseSummary .box .percentagesResult .percentages {
  color: #ef476f;
}
.details .hero-img .box-container .container .box-testCourses .account-testCourses .schoolUser-testCourses .editTestCourse {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 10px 15px;
  border: 1.5px solid #6acff1;
  transition: transform 0.3s ease;
}
.details .hero-img .box-container .container .box-testCourses .account-testCourses .schoolUser-testCourses .editTestCourse:first-child {
  border-radius: 10px 10px 0 0;
}
.details .hero-img .box-container .container .box-testCourses .account-testCourses .schoolUser-testCourses .editTestCourse .box-edit {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.details .hero-img .box-container .container .box-testCourses .account-testCourses .schoolUser-testCourses .editTestCourse .box-edit .rowTestCourse {
  display: flex;
  align-items: center;
}
.details .hero-img .box-container .container .box-testCourses .account-testCourses .schoolUser-testCourses .editTestCourse .box-edit .rowTestCourse.type-row {
  flex-direction: column;
  justify-content: center;
}
.details .hero-img .box-container .container .box-testCourses .account-testCourses .schoolUser-testCourses .editTestCourse .box-edit .rowTestCourse.type-row input[type=radio] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  vertical-align: middle;
  width: 15px;
  height: 15px;
  padding: 7px;
  border: 3px solid #ffd166;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  transition: border-color 0.3s ease, background-color 0.3s ease;
}
.details .hero-img .box-container .container .box-testCourses .account-testCourses .schoolUser-testCourses .editTestCourse .box-edit .rowTestCourse.type-row input[type=radio]:hover {
  border-color: #ffc233;
}
.details .hero-img .box-container .container .box-testCourses .account-testCourses .schoolUser-testCourses .editTestCourse .box-edit .rowTestCourse.type-row input[type=radio]:checked {
  background-color: #ef476f;
  border-color: #ef476f;
}
.details .hero-img .box-container .container .box-testCourses .account-testCourses .schoolUser-testCourses .editTestCourse .box-edit .rowTestCourse.type-row input[type=radio]:checked::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  background-color: #ffd166;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
.details .hero-img .box-container .container .box-testCourses .account-testCourses .schoolUser-testCourses .editTestCourse .box-edit .rowTestCourse.type-row input[type=radio]:checked ~ label {
  font-weight: bold;
  color: #ef476f;
}
.details .hero-img .box-container .container .box-testCourses .account-testCourses .schoolUser-testCourses .editTestCourse .box-edit .rowTestCourse.type-row label {
  font-size: 16px;
  cursor: pointer;
  color: aliceblue;
  transition: color 0.3s ease;
}
.details .hero-img .box-container .container .box-testCourses .account-testCourses .schoolUser-testCourses .editTestCourse .box-edit .rowTestCourse.type-row label:hover {
  color: #ef476f;
}
.details .hero-img .box-container .container .box-testCourses .account-testCourses .schoolUser-testCourses .editTestCourse .box-edit .rowTestCourse.type-row label img {
  width: 45px;
}
.details .hero-img .box-container .container .box-testCourses .account-testCourses .schoolUser-testCourses .editTestCourse .box-edit .rowTestCourse.type-row .title-header {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}
.details .hero-img .box-container .container .box-testCourses .account-testCourses .schoolUser-testCourses .editTestCourse .box-edit .rowTestCourse.type-row .testType {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.details .hero-img .box-container .container .box-testCourses .account-testCourses .schoolUser-testCourses .editTestCourse .box-edit .rowTestCourse.type-row .testType .type {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;
}
.details .hero-img .box-container .container .box-testCourses .account-testCourses .schoolUser-testCourses .editTestCourse .box-edit .top-row {
  justify-content: space-between;
}
.details .hero-img .box-container .container .box-testCourses .account-testCourses .schoolUser-testCourses .editTestCourse .box-edit .top-row .title-header {
  font-size: 16px;
  color: #99d98c;
}
.details .hero-img .box-container .container .box-testCourses .account-testCourses .schoolUser-testCourses .editTestCourse .box-edit .top-row .percentagesResult {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: aliceblue;
}
.details .hero-img .box-container .container .box-testCourses .account-testCourses .schoolUser-testCourses .editTestCourse .box-edit .top-row .percentagesResult input {
  width: 85px;
  margin-right: 5px;
}
.details .hero-img .box-container .container .box-testCourses .account-testCourses .schoolUser-testCourses .editTestCourse .box-edit .top-row .percentagesResult .percentages {
  font-weight: bold;
  color: #ef476f;
}
.details .hero-img .box-container .container .box-testCourses .account-testCourses .schoolUser-testCourses .editTestCourse .box-edit .comment-row {
  width: 100%;
}
.details .hero-img .box-container .container .box-testCourses .account-testCourses .schoolUser-testCourses .editTestCourse .box-edit .comment-row input {
  width: 100%;
}
.details .hero-img .box-container .container .box-testCourses .account-testCourses .schoolUser-testCourses .editTestCourse .box-edit input {
  padding: 10px;
  font-size: 16px;
  color: aliceblue;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.1);
}
.details .hero-img .box-container .container .box-testCourses .account-testCourses .schoolUser-testCourses .editTestCourse .box-edit input:focus {
  outline: none;
  border-color: #ef476f;
  box-shadow: 0 0 5px rgba(239, 71, 111, 0.5);
}
.details .hero-img .box-container .container .box-testCourses .account-testCourses .schoolUser-testCourses .editTestCourse .button-group {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.details .hero-img .box-container .container .box-testCourses .account-testCourses .schoolUser-testCourses .newTestCourse {
  background: linear-gradient(-135deg, rgba(0, 0, 0, 0.93), rgba(10, 76, 98, 0.8823529412));
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  max-width: 500px;
  padding: 15px;
  margin: 0 auto;
  margin-top: 25px;
}
.details .hero-img .box-container .container .box-testCourses .account-testCourses .schoolUser-testCourses .newTestCourse .box-new {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.details .hero-img .box-container .container .box-testCourses .account-testCourses .schoolUser-testCourses .newTestCourse .box-new .title-box {
  width: 100%;
}
.details .hero-img .box-container .container .box-testCourses .account-testCourses .schoolUser-testCourses .newTestCourse .box-new .title-box p {
  font-size: 20px;
  font-weight: bold;
  color: #4cc9f0;
  margin-top: 20px;
  text-align: center;
}
.details .hero-img .box-container .container .box-testCourses .account-testCourses .schoolUser-testCourses .newTestCourse .box-new .title-box hr {
  border: none;
  border-top: 1px solid aliceblue;
}
.details .hero-img .box-container .container .box-testCourses .account-testCourses .schoolUser-testCourses .newTestCourse .box-new .rowTestCourse {
  display: flex;
  align-items: center;
}
.details .hero-img .box-container .container .box-testCourses .account-testCourses .schoolUser-testCourses .newTestCourse .box-new .rowTestCourse .title-header {
  flex: 1;
  color: aliceblue;
}
.details .hero-img .box-container .container .box-testCourses .account-testCourses .schoolUser-testCourses .newTestCourse .box-new .rowTestCourse input {
  padding: 10px;
  font-size: 16px;
  color: aliceblue;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.1);
}
.details .hero-img .box-container .container .box-testCourses .account-testCourses .schoolUser-testCourses .newTestCourse .box-new .rowTestCourse input:focus {
  outline: none;
  border-color: #ef476f;
  box-shadow: 0 0 5px rgba(239, 71, 111, 0.5);
}
.details .hero-img .box-container .container .box-testCourses .account-testCourses .schoolUser-testCourses .newTestCourse .box-new .rowTestCourse .percentages {
  margin-left: 5px;
  font-size: 16px;
  font-weight: bold;
  color: #ef476f;
}
.details .hero-img .box-container .container .box-testCourses .account-testCourses .schoolUser-testCourses .newTestCourse .box-new .rowTestCourse.type-row {
  flex-direction: column;
  justify-content: center;
}
.details .hero-img .box-container .container .box-testCourses .account-testCourses .schoolUser-testCourses .newTestCourse .box-new .rowTestCourse.type-row input[type=radio] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  vertical-align: middle;
  width: 15px;
  height: 15px;
  padding: 7px;
  border: 3px solid #ffd166;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  transition: border-color 0.3s ease, background-color 0.3s ease;
}
.details .hero-img .box-container .container .box-testCourses .account-testCourses .schoolUser-testCourses .newTestCourse .box-new .rowTestCourse.type-row input[type=radio]:hover {
  border-color: #ffc233;
}
.details .hero-img .box-container .container .box-testCourses .account-testCourses .schoolUser-testCourses .newTestCourse .box-new .rowTestCourse.type-row input[type=radio]:checked {
  background-color: #ef476f;
  border-color: #ef476f;
}
.details .hero-img .box-container .container .box-testCourses .account-testCourses .schoolUser-testCourses .newTestCourse .box-new .rowTestCourse.type-row input[type=radio]:checked::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  background-color: #ffd166;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
.details .hero-img .box-container .container .box-testCourses .account-testCourses .schoolUser-testCourses .newTestCourse .box-new .rowTestCourse.type-row input[type=radio]:checked ~ label {
  font-weight: bold;
  color: #ef476f;
}
.details .hero-img .box-container .container .box-testCourses .account-testCourses .schoolUser-testCourses .newTestCourse .box-new .rowTestCourse.type-row label {
  font-size: 16px;
  cursor: pointer;
  color: aliceblue;
  transition: color 0.3s ease;
}
.details .hero-img .box-container .container .box-testCourses .account-testCourses .schoolUser-testCourses .newTestCourse .box-new .rowTestCourse.type-row label:hover {
  color: #ef476f;
}
.details .hero-img .box-container .container .box-testCourses .account-testCourses .schoolUser-testCourses .newTestCourse .box-new .rowTestCourse.type-row label img {
  width: 45px;
}
.details .hero-img .box-container .container .box-testCourses .account-testCourses .schoolUser-testCourses .newTestCourse .box-new .rowTestCourse.type-row .title-header {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}
.details .hero-img .box-container .container .box-testCourses .account-testCourses .schoolUser-testCourses .newTestCourse .box-new .rowTestCourse.type-row .testType {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.details .hero-img .box-container .container .box-testCourses .account-testCourses .schoolUser-testCourses .newTestCourse .box-new .rowTestCourse.type-row .testType .type {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;
}
.details .hero-img .box-container .container .box-testCourses .account-testCourses .schoolUser-testCourses .newTestCourse .box-new .bottom-row input {
  margin-left: 10px;
  width: 80px;
}
.details .hero-img .box-container .container .box-testCourses .account-testCourses .schoolUser-testCourses .newTestCourse .box-new .comment-row {
  flex-direction: column;
  gap: 5px;
}
.details .hero-img .box-container .container .box-testCourses .account-testCourses .schoolUser-testCourses .newTestCourse .box-new .comment-row input {
  width: 90%;
}
.details .hero-img .box-container .container .box-course,
.details .hero-img .box-container .container .box-drivingSessions,
.details .hero-img .box-container .container .box-testCourses {
  margin: 40px 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  -webkit-backdrop-filter: blur(9px);
          backdrop-filter: blur(9px);
}
.details .hero-img .box-container .container .box-course {
  background: linear-gradient(-135deg, rgba(188, 24, 80, 0.65), rgba(3, 68, 90, 0.7098039216));
}
.details .hero-img .box-container .container .box-drivingSessions {
  background: linear-gradient(-135deg, rgba(76, 45, 6, 0.65), rgba(3, 68, 90, 0.7098039216));
}
.details .hero-img .box-container .container .box-testCourses {
  background: linear-gradient(-135deg, rgba(77, 42, 111, 0.65), rgba(3, 68, 90, 0.7098039216));
}

@media (max-width: 720px) {
  .details .hero-img .box-container {
    left: 0px;
    width: 100%;
  }
}/*# sourceMappingURL=courseDetails.css.map */