.bounce-top {
  display: block;
  animation: bounce-top 2s infinite both;
}

@keyframes bounce-top {
  0% {
    transform: translateY(-45px);
    animation-timing-function: ease-in;
    opacity: 1;
    color: #ef476f;
  }
  24% {
    opacity: 1;
  }
  40% {
    transform: translateY(-24px);
    animation-timing-function: ease-in;
  }
  65% {
    transform: translateY(-12px);
    animation-timing-function: ease-in;
  }
  25%, 55%, 75%, 87% {
    transform: translateY(0px);
    animation-timing-function: ease-out;
  }
  100% {
    transform: translateY(0px);
    animation-timing-function: ease-out;
    opacity: 1;
  }
}
.animation {
  animation: itemAnimation 0.6s both;
}

.animationReverse {
  animation: itemAnimationReverse 0.6s both;
}

@keyframes itemAnimation {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes itemAnimationReverse {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
.loginAnimation {
  animation: loginItemAnimation 0.6s forwards;
}

.loginAnimationReverse {
  animation: loginItemAnimationReverse 0.6s forwards;
}

@keyframes loginItemAnimation {
  from {
    transform: translateX(-300%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes loginItemAnimationReverse {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-300%);
  }
}
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  color: aliceblue;
  background-color: #333;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

h2 {
  text-align: center;
  text-transform: uppercase;
}

.orange-text {
  color: #ef476f;
  font-weight: bold;
}

.gold-text {
  color: #ffd166;
  font-weight: bold;
}

.shadow-bg {
  background-color: rgba(0, 0, 0, 0.85);
}

.underline {
  background-color: #ef476f;
  width: 220px;
  height: 5px;
  margin: 0 auto 30px;
}

.categories .hero-img {
  position: relative;
  height: 110vh;
  background-image: url("../img/backgroundPanelCategories.png");
  background-position: center;
  background-size: cover;
  overflow: scroll;
}
.categories .hero-img .box-container {
  position: absolute;
  top: 12vh;
  left: 300px;
  width: calc(100vw - 300px);
}
.categories .hero-img .box-container .title {
  margin-top: 100px;
  padding: 20px 10px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 20px;
  font-size: 20px;
  font-style: italic;
  letter-spacing: 1px;
  text-align: center;
}
.categories .hero-img .box-container .box-category {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.categories .hero-img .box-container .box-category .container-category {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}
.categories .hero-img .box-container .box-category .container-category .category {
  font-size: 19px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
  padding: 10px;
  border: 5px dotted rgba(0, 0, 0, 0.8);
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 20px;
  text-align: center;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.categories .hero-img .box-container .box-category .container-category .category img {
  width: 120px;
  height: 120px;
  padding: 20px;
}
.categories .hero-img .box-container .box-category .container-category .category span {
  color: #4cc9f0;
  font-weight: bold;
}
.categories .hero-img .box-container .box-category .container-category .category p {
  margin-bottom: 0rem;
}
.categories .hero-img .box-container .box-category .container-category .currentCategory {
  border: 5px dotted #ffd166;
  box-shadow: 0px 0px 15px 3px rgba(7, 59, 76, 0.4352941176);
}
.categories .hero-img .box-container .box-category .container-category .category:hover {
  border: 5px dotted #ffd166;
  box-shadow: 0px 0px 15px 5px #ffd166;
}
.categories .hero-img .box-container .box-users {
  margin-bottom: 60px;
}
.categories .hero-img .box-container .box-users .account-student,
.categories .hero-img .box-container .box-users .account-instructor {
  max-width: 740px;
  font-size: 19px;
  padding: 10px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.categories .hero-img .box-container .box-users .account-student .info-text::before,
.categories .hero-img .box-container .box-users .account-instructor .info-text::before {
  content: "\f05a";
}
.categories .hero-img .box-container .box-users .account-student .info-text,
.categories .hero-img .box-container .box-users .account-instructor .info-text {
  color: aliceblue;
  border-left: 4px solid aliceblue;
  border-right: 4px solid aliceblue;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.85);
  border-radius: 10px;
  padding: 10px;
  padding-left: 35px;
  text-align: right;
  position: relative;
}
.categories .hero-img .box-container .box-users .account-student .info-text::before,
.categories .hero-img .box-container .box-users .account-instructor .info-text::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: inherit;
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}
.categories .hero-img .box-container .box-users .account-student .title,
.categories .hero-img .box-container .box-users .account-instructor .title {
  width: -moz-fit-content;
  width: fit-content;
}
.categories .hero-img .box-container .box-users .account-student .instructors-list,
.categories .hero-img .box-container .box-users .account-student .students-list,
.categories .hero-img .box-container .box-users .account-instructor .instructors-list,
.categories .hero-img .box-container .box-users .account-instructor .students-list {
  width: 100%;
  margin-top: 20px;
  overflow: scroll;
  border-radius: 10px;
}
.categories .hero-img .box-container .box-users .account-student .instructors-list .instructors-table,
.categories .hero-img .box-container .box-users .account-student .instructors-list .students-table,
.categories .hero-img .box-container .box-users .account-student .students-list .instructors-table,
.categories .hero-img .box-container .box-users .account-student .students-list .students-table,
.categories .hero-img .box-container .box-users .account-instructor .instructors-list .instructors-table,
.categories .hero-img .box-container .box-users .account-instructor .instructors-list .students-table,
.categories .hero-img .box-container .box-users .account-instructor .students-list .instructors-table,
.categories .hero-img .box-container .box-users .account-instructor .students-list .students-table {
  margin: 0 auto;
  border-collapse: collapse;
  background-color: rgba(0, 0, 0, 0.95);
  overflow: hidden;
}
.categories .hero-img .box-container .box-users .account-student .instructors-list .instructors-table th,
.categories .hero-img .box-container .box-users .account-student .instructors-list .instructors-table td,
.categories .hero-img .box-container .box-users .account-student .instructors-list .students-table th,
.categories .hero-img .box-container .box-users .account-student .instructors-list .students-table td,
.categories .hero-img .box-container .box-users .account-student .students-list .instructors-table th,
.categories .hero-img .box-container .box-users .account-student .students-list .instructors-table td,
.categories .hero-img .box-container .box-users .account-student .students-list .students-table th,
.categories .hero-img .box-container .box-users .account-student .students-list .students-table td,
.categories .hero-img .box-container .box-users .account-instructor .instructors-list .instructors-table th,
.categories .hero-img .box-container .box-users .account-instructor .instructors-list .instructors-table td,
.categories .hero-img .box-container .box-users .account-instructor .instructors-list .students-table th,
.categories .hero-img .box-container .box-users .account-instructor .instructors-list .students-table td,
.categories .hero-img .box-container .box-users .account-instructor .students-list .instructors-table th,
.categories .hero-img .box-container .box-users .account-instructor .students-list .instructors-table td,
.categories .hero-img .box-container .box-users .account-instructor .students-list .students-table th,
.categories .hero-img .box-container .box-users .account-instructor .students-list .students-table td {
  text-align: center;
  font-size: 15px;
  padding: 7px;
  color: #f5f5f5;
  min-width: 120px;
  max-width: 120px;
  overflow-x: scroll;
}
.categories .hero-img .box-container .box-users .account-student .instructors-list .instructors-table thead,
.categories .hero-img .box-container .box-users .account-student .instructors-list .students-table thead,
.categories .hero-img .box-container .box-users .account-student .students-list .instructors-table thead,
.categories .hero-img .box-container .box-users .account-student .students-list .students-table thead,
.categories .hero-img .box-container .box-users .account-instructor .instructors-list .instructors-table thead,
.categories .hero-img .box-container .box-users .account-instructor .instructors-list .students-table thead,
.categories .hero-img .box-container .box-users .account-instructor .students-list .instructors-table thead,
.categories .hero-img .box-container .box-users .account-instructor .students-list .students-table thead {
  background-color: #ef476f;
}
.categories .hero-img .box-container .box-users .account-student .instructors-list .instructors-table th,
.categories .hero-img .box-container .box-users .account-student .instructors-list .students-table th,
.categories .hero-img .box-container .box-users .account-student .students-list .instructors-table th,
.categories .hero-img .box-container .box-users .account-student .students-list .students-table th,
.categories .hero-img .box-container .box-users .account-instructor .instructors-list .instructors-table th,
.categories .hero-img .box-container .box-users .account-instructor .instructors-list .students-table th,
.categories .hero-img .box-container .box-users .account-instructor .students-list .instructors-table th,
.categories .hero-img .box-container .box-users .account-instructor .students-list .students-table th {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  min-width: 120px;
  max-width: 120px;
}
.categories .hero-img .box-container .box-users .account-student .instructors-list .instructors-table .table-normal-row,
.categories .hero-img .box-container .box-users .account-student .instructors-list .students-table .table-normal-row,
.categories .hero-img .box-container .box-users .account-student .students-list .instructors-table .table-normal-row,
.categories .hero-img .box-container .box-users .account-student .students-list .students-table .table-normal-row,
.categories .hero-img .box-container .box-users .account-instructor .instructors-list .instructors-table .table-normal-row,
.categories .hero-img .box-container .box-users .account-instructor .instructors-list .students-table .table-normal-row,
.categories .hero-img .box-container .box-users .account-instructor .students-list .instructors-table .table-normal-row,
.categories .hero-img .box-container .box-users .account-instructor .students-list .students-table .table-normal-row {
  position: relative;
}
.categories .hero-img .box-container .box-users .account-student .instructors-list .instructors-table .table-instructor-row,
.categories .hero-img .box-container .box-users .account-student .instructors-list .students-table .table-instructor-row,
.categories .hero-img .box-container .box-users .account-student .students-list .instructors-table .table-instructor-row,
.categories .hero-img .box-container .box-users .account-student .students-list .students-table .table-instructor-row,
.categories .hero-img .box-container .box-users .account-instructor .instructors-list .instructors-table .table-instructor-row,
.categories .hero-img .box-container .box-users .account-instructor .instructors-list .students-table .table-instructor-row,
.categories .hero-img .box-container .box-users .account-instructor .students-list .instructors-table .table-instructor-row,
.categories .hero-img .box-container .box-users .account-instructor .students-list .students-table .table-instructor-row {
  position: relative;
  transition: transform 0.3s ease;
  left: -120px;
}
.categories .hero-img .box-container .box-users .account-student .instructors-list .instructors-table .table-instructor-row .operation-student,
.categories .hero-img .box-container .box-users .account-student .instructors-list .students-table .table-instructor-row .operation-student,
.categories .hero-img .box-container .box-users .account-student .students-list .instructors-table .table-instructor-row .operation-student,
.categories .hero-img .box-container .box-users .account-student .students-list .students-table .table-instructor-row .operation-student,
.categories .hero-img .box-container .box-users .account-instructor .instructors-list .instructors-table .table-instructor-row .operation-student,
.categories .hero-img .box-container .box-users .account-instructor .instructors-list .students-table .table-instructor-row .operation-student,
.categories .hero-img .box-container .box-users .account-instructor .students-list .instructors-table .table-instructor-row .operation-student,
.categories .hero-img .box-container .box-users .account-instructor .students-list .students-table .table-instructor-row .operation-student {
  background: transparent;
  transition: transform 0.3s ease;
}
.categories .hero-img .box-container .box-users .account-student .instructors-list .instructors-table .table-instructor-row:hover,
.categories .hero-img .box-container .box-users .account-student .instructors-list .students-table .table-instructor-row:hover,
.categories .hero-img .box-container .box-users .account-student .students-list .instructors-table .table-instructor-row:hover,
.categories .hero-img .box-container .box-users .account-student .students-list .students-table .table-instructor-row:hover,
.categories .hero-img .box-container .box-users .account-instructor .instructors-list .instructors-table .table-instructor-row:hover,
.categories .hero-img .box-container .box-users .account-instructor .instructors-list .students-table .table-instructor-row:hover,
.categories .hero-img .box-container .box-users .account-instructor .students-list .instructors-table .table-instructor-row:hover,
.categories .hero-img .box-container .box-users .account-instructor .students-list .students-table .table-instructor-row:hover {
  cursor: pointer;
  padding-left: 100px;
  transform: translateX(120px);
}
.categories .hero-img .box-container .box-users .account-student .instructors-list .instructors-table .table-instructor-row.clicked,
.categories .hero-img .box-container .box-users .account-student .instructors-list .students-table .table-instructor-row.clicked,
.categories .hero-img .box-container .box-users .account-student .students-list .instructors-table .table-instructor-row.clicked,
.categories .hero-img .box-container .box-users .account-student .students-list .students-table .table-instructor-row.clicked,
.categories .hero-img .box-container .box-users .account-instructor .instructors-list .instructors-table .table-instructor-row.clicked,
.categories .hero-img .box-container .box-users .account-instructor .instructors-list .students-table .table-instructor-row.clicked,
.categories .hero-img .box-container .box-users .account-instructor .students-list .instructors-table .table-instructor-row.clicked,
.categories .hero-img .box-container .box-users .account-instructor .students-list .students-table .table-instructor-row.clicked {
  transform: translateX(120px);
}
.categories .hero-img .box-container .box-users .account-student .instructors-list .instructors-table .table-student-row,
.categories .hero-img .box-container .box-users .account-student .instructors-list .students-table .table-student-row,
.categories .hero-img .box-container .box-users .account-student .students-list .instructors-table .table-student-row,
.categories .hero-img .box-container .box-users .account-student .students-list .students-table .table-student-row,
.categories .hero-img .box-container .box-users .account-instructor .instructors-list .instructors-table .table-student-row,
.categories .hero-img .box-container .box-users .account-instructor .instructors-list .students-table .table-student-row,
.categories .hero-img .box-container .box-users .account-instructor .students-list .instructors-table .table-student-row,
.categories .hero-img .box-container .box-users .account-instructor .students-list .students-table .table-student-row {
  position: relative;
  transition: transform 0.3s ease;
}
.categories .hero-img .box-container .box-users .account-student .instructors-list .instructors-table .table-student-row .operation-student,
.categories .hero-img .box-container .box-users .account-student .instructors-list .students-table .table-student-row .operation-student,
.categories .hero-img .box-container .box-users .account-student .students-list .instructors-table .table-student-row .operation-student,
.categories .hero-img .box-container .box-users .account-student .students-list .students-table .table-student-row .operation-student,
.categories .hero-img .box-container .box-users .account-instructor .instructors-list .instructors-table .table-student-row .operation-student,
.categories .hero-img .box-container .box-users .account-instructor .instructors-list .students-table .table-student-row .operation-student,
.categories .hero-img .box-container .box-users .account-instructor .students-list .instructors-table .table-student-row .operation-student,
.categories .hero-img .box-container .box-users .account-instructor .students-list .students-table .table-student-row .operation-student {
  background: transparent;
  position: absolute;
  top: 6px;
  left: -240px;
  transition: transform 0.3s ease;
  display: flex;
  overflow: visible;
  gap: 6px;
}
.categories .hero-img .box-container .box-users .account-student .instructors-list .instructors-table .table-student-row .operation-student .correct-btn,
.categories .hero-img .box-container .box-users .account-student .instructors-list .students-table .table-student-row .operation-student .correct-btn,
.categories .hero-img .box-container .box-users .account-student .students-list .instructors-table .table-student-row .operation-student .correct-btn,
.categories .hero-img .box-container .box-users .account-student .students-list .students-table .table-student-row .operation-student .correct-btn,
.categories .hero-img .box-container .box-users .account-instructor .instructors-list .instructors-table .table-student-row .operation-student .correct-btn,
.categories .hero-img .box-container .box-users .account-instructor .instructors-list .students-table .table-student-row .operation-student .correct-btn,
.categories .hero-img .box-container .box-users .account-instructor .students-list .instructors-table .table-student-row .operation-student .correct-btn,
.categories .hero-img .box-container .box-users .account-instructor .students-list .students-table .table-student-row .operation-student .correct-btn {
  margin-left: 5px;
}
.categories .hero-img .box-container .box-users .account-student .instructors-list .instructors-table .table-student-row .operation-student .cancel-btn,
.categories .hero-img .box-container .box-users .account-student .instructors-list .students-table .table-student-row .operation-student .cancel-btn,
.categories .hero-img .box-container .box-users .account-student .students-list .instructors-table .table-student-row .operation-student .cancel-btn,
.categories .hero-img .box-container .box-users .account-student .students-list .students-table .table-student-row .operation-student .cancel-btn,
.categories .hero-img .box-container .box-users .account-instructor .instructors-list .instructors-table .table-student-row .operation-student .cancel-btn,
.categories .hero-img .box-container .box-users .account-instructor .instructors-list .students-table .table-student-row .operation-student .cancel-btn,
.categories .hero-img .box-container .box-users .account-instructor .students-list .instructors-table .table-student-row .operation-student .cancel-btn,
.categories .hero-img .box-container .box-users .account-instructor .students-list .students-table .table-student-row .operation-student .cancel-btn {
  margin-right: 5px;
}
.categories .hero-img .box-container .box-users .account-student .instructors-list .instructors-table .table-student-row:hover,
.categories .hero-img .box-container .box-users .account-student .instructors-list .students-table .table-student-row:hover,
.categories .hero-img .box-container .box-users .account-student .students-list .instructors-table .table-student-row:hover,
.categories .hero-img .box-container .box-users .account-student .students-list .students-table .table-student-row:hover,
.categories .hero-img .box-container .box-users .account-instructor .instructors-list .instructors-table .table-student-row:hover,
.categories .hero-img .box-container .box-users .account-instructor .instructors-list .students-table .table-student-row:hover,
.categories .hero-img .box-container .box-users .account-instructor .students-list .instructors-table .table-student-row:hover,
.categories .hero-img .box-container .box-users .account-instructor .students-list .students-table .table-student-row:hover {
  cursor: pointer;
  padding-left: 200px;
  transform: translateX(240px);
}
.categories .hero-img .box-container .box-users .account-student .instructors-list .instructors-table .table-student-row.clicked,
.categories .hero-img .box-container .box-users .account-student .instructors-list .students-table .table-student-row.clicked,
.categories .hero-img .box-container .box-users .account-student .students-list .instructors-table .table-student-row.clicked,
.categories .hero-img .box-container .box-users .account-student .students-list .students-table .table-student-row.clicked,
.categories .hero-img .box-container .box-users .account-instructor .instructors-list .instructors-table .table-student-row.clicked,
.categories .hero-img .box-container .box-users .account-instructor .instructors-list .students-table .table-student-row.clicked,
.categories .hero-img .box-container .box-users .account-instructor .students-list .instructors-table .table-student-row.clicked,
.categories .hero-img .box-container .box-users .account-instructor .students-list .students-table .table-student-row.clicked {
  transform: translateX(240px);
}
.categories .hero-img .box-container .box-users .account-student .select-instructor,
.categories .hero-img .box-container .box-users .account-instructor .select-instructor {
  padding: 10px 0px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: space-around;
  align-items: center;
  gap: 20px;
}
.categories .hero-img .box-container .box-users .account-student .select-instructor input,
.categories .hero-img .box-container .box-users .account-student .select-instructor select,
.categories .hero-img .box-container .box-users .account-instructor .select-instructor input,
.categories .hero-img .box-container .box-users .account-instructor .select-instructor select {
  height: 35px;
  width: 300px;
  outline: none;
  border: none;
  border: 2px solid #f5f5f5;
  padding: 0 10px;
  font-size: 16px;
  font-weight: 500;
  color: #373c4f;
  border-radius: 5px;
}
.categories .hero-img .box-container .box-users .account-student .select-instructor input:focus,
.categories .hero-img .box-container .box-users .account-student .select-instructor select:focus,
.categories .hero-img .box-container .box-users .account-instructor .select-instructor input:focus,
.categories .hero-img .box-container .box-users .account-instructor .select-instructor select:focus {
  outline: none;
  border-color: #b51b75;
}
.categories .hero-img .box-container .box-users .account-student .select-instructor button,
.categories .hero-img .box-container .box-users .account-student .select-instructor input,
.categories .hero-img .box-container .box-users .account-instructor .select-instructor button,
.categories .hero-img .box-container .box-users .account-instructor .select-instructor input {
  margin: 7px;
}
.categories .hero-img .box-container .box-users .account-student .correct-btn,
.categories .hero-img .box-container .box-users .account-student .delete-btn,
.categories .hero-img .box-container .box-users .account-student .info-btn,
.categories .hero-img .box-container .box-users .account-student .cancel-btn,
.categories .hero-img .box-container .box-users .account-instructor .correct-btn,
.categories .hero-img .box-container .box-users .account-instructor .delete-btn,
.categories .hero-img .box-container .box-users .account-instructor .info-btn,
.categories .hero-img .box-container .box-users .account-instructor .cancel-btn {
  font-size: 18px;
  height: 35px;
  padding: 0px 10px;
  border: none;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  transition: 0.3s ease;
}
.categories .hero-img .box-container .box-users .account-student .correct-btn:hover,
.categories .hero-img .box-container .box-users .account-student .delete-btn:hover,
.categories .hero-img .box-container .box-users .account-student .info-btn:hover,
.categories .hero-img .box-container .box-users .account-student .cancel-btn:hover,
.categories .hero-img .box-container .box-users .account-instructor .correct-btn:hover,
.categories .hero-img .box-container .box-users .account-instructor .delete-btn:hover,
.categories .hero-img .box-container .box-users .account-instructor .info-btn:hover,
.categories .hero-img .box-container .box-users .account-instructor .cancel-btn:hover {
  transform: scale(1.05);
}
.categories .hero-img .box-container .box-users .account-student button.add-btn,
.categories .hero-img .box-container .box-users .account-student button.correct-btn,
.categories .hero-img .box-container .box-users .account-instructor button.add-btn,
.categories .hero-img .box-container .box-users .account-instructor button.correct-btn {
  background-color: #2de300;
}
.categories .hero-img .box-container .box-users .account-student button.add-btn:hover,
.categories .hero-img .box-container .box-users .account-student button.correct-btn:hover,
.categories .hero-img .box-container .box-users .account-instructor button.add-btn:hover,
.categories .hero-img .box-container .box-users .account-instructor button.correct-btn:hover {
  background-color: #23b000;
}
.categories .hero-img .box-container .box-users .account-student button.info-btn,
.categories .hero-img .box-container .box-users .account-instructor button.info-btn {
  background-color: #4d84e2;
}
.categories .hero-img .box-container .box-users .account-student button.info-btn:hover,
.categories .hero-img .box-container .box-users .account-instructor button.info-btn:hover {
  background-color: #2366d9;
}
.categories .hero-img .box-container .box-users .account-student button.delete-btn,
.categories .hero-img .box-container .box-users .account-instructor button.delete-btn {
  background-color: #ef476f;
}
.categories .hero-img .box-container .box-users .account-student button.delete-btn:hover,
.categories .hero-img .box-container .box-users .account-instructor button.delete-btn:hover {
  background-color: #eb184a;
}
.categories .hero-img .box-container .box-users .account-student button.cancel-btn,
.categories .hero-img .box-container .box-users .account-instructor button.cancel-btn {
  background-color: #ffc233;
}
.categories .hero-img .box-container .box-users .account-student button.cancel-btn:hover,
.categories .hero-img .box-container .box-users .account-instructor button.cancel-btn:hover {
  background-color: #ffb200;
}

.contact {
  padding: 20px;
  position: relative;
  background-image: url("../img/contact.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  z-index: 200;
}
.contact i {
  padding: 10px;
  font-size: 24px;
  color: springgreen;
  transition: 0.3s;
}
.contact i:hover {
  color: #ffd166;
}
.contact h2 {
  font-size: 32px;
  font-weight: bold;
}
.contact .contact-shadow {
  z-index: -5;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
}
.contact .contact-us {
  display: flex;
  align-items: center;
}
.contact .contact-us .contact-item {
  margin: 30px 0px;
}
.contact .contact-us .contact-item h3 {
  margin-bottom: 20px;
  color: #e0ff72;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
}
.contact .contact-us .contact-item p {
  font-size: 18px;
  color: antiquewhite;
}

@media (max-width: 720px) {
  .categories .hero-img .box-container {
    left: 0px;
    width: 100%;
  }
}/*# sourceMappingURL=dashboard.css.map */