.bounce-top {
  display: block;
  animation: bounce-top 2s infinite both;
}

@keyframes bounce-top {
  0% {
    transform: translateY(-45px);
    animation-timing-function: ease-in;
    opacity: 1;
    color: #ef476f;
  }
  24% {
    opacity: 1;
  }
  40% {
    transform: translateY(-24px);
    animation-timing-function: ease-in;
  }
  65% {
    transform: translateY(-12px);
    animation-timing-function: ease-in;
  }
  25%, 55%, 75%, 87% {
    transform: translateY(0px);
    animation-timing-function: ease-out;
  }
  100% {
    transform: translateY(0px);
    animation-timing-function: ease-out;
    opacity: 1;
  }
}
.animation {
  animation: itemAnimation 0.6s both;
}

.animationReverse {
  animation: itemAnimationReverse 0.6s both;
}

@keyframes itemAnimation {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes itemAnimationReverse {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
.loginAnimation {
  animation: loginItemAnimation 0.6s forwards;
}

.loginAnimationReverse {
  animation: loginItemAnimationReverse 0.6s forwards;
}

@keyframes loginItemAnimation {
  from {
    transform: translateX(-300%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes loginItemAnimationReverse {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-300%);
  }
}
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  color: aliceblue;
  background-color: #333;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

main,
footer {
  display: none;
}

h2 {
  text-align: center;
  text-transform: uppercase;
}

.orange-text {
  color: #ef476f;
  font-weight: bold;
}

.gold-text {
  color: #ffd166;
  font-weight: bold;
}

.shadow-bg {
  background-color: rgba(0, 0, 0, 0.85);
}

.underline {
  background-color: #ef476f;
  width: 220px;
  height: 5px;
  margin: 0 auto 30px;
}

.navbar-nav .progres {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}
.navbar-nav .progres span {
  color: springgreen;
}
.navbar-nav .progres .progres-box {
  width: 80%;
  height: 16px;
  margin-bottom: 30px;
  border-radius: 20px;
  border: 2px solid aliceblue;
}
.navbar-nav .progres .progres-box .progres-bar {
  height: 12px;
  width: 24%;
  border-radius: 20px;
  background-color: #62d63c;
}
.navbar-nav .subject-nav {
  width: 100%;
  height: 30vh;
  overflow: auto;
}
.navbar-nav .subject-nav .title {
  font-style: normal;
  font-weight: bold;
  margin-bottom: 20px;
}
.navbar-nav .subject-nav ol {
  list-style-type: none;
  counter-reset: item;
  padding-left: 0;
}
.navbar-nav .subject-nav ol li {
  margin: 15px;
  position: relative;
  padding-left: 35px;
  display: flex;
  align-items: center;
}
.navbar-nav .subject-nav ol li a {
  color: aliceblue;
  margin-left: 15px;
  font-size: 14px;
}
.navbar-nav .subject-nav ol li a:hover {
  cursor: pointer;
  font-weight: bold;
}
.navbar-nav .subject-nav ol li::before {
  counter-increment: item;
  content: counter(item);
  position: absolute;
  left: 10px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #4cc9f0;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.navbar-left {
  height: 100vh;
  overflow: hidden;
}

.subject .hero-img {
  position: relative;
  height: 110vh;
  background-image: url("../img/backgroundSubject.png");
  background-position: center;
  background-size: cover;
  z-index: 0;
  overflow: hidden;
}
.subject .hero-img .hero-shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: -5;
}
.subject .hero-img .box-subject {
  position: absolute;
  top: 12vh;
  left: 150px;
  height: 97vh;
  width: 100%;
  overflow: scroll;
}
.subject .hero-img .box-subject .box-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px auto;
}
.subject .hero-img .box-subject .box-container .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.subject .hero-img .box-subject .box-container .title {
  padding: 20px 10px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 20px;
  font-size: 20px;
  letter-spacing: 1px;
  text-align: center;
  font-weight: bold;
}
.subject .hero-img .box-subject .box-container .content {
  padding: 20px 10px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 20px;
  font-size: 17px;
  text-align: center;
}
.subject .hero-img .box-subject .box-container .container-sublecture,
.subject .hero-img .box-subject .box-container .container-lecture {
  display: flex;
  flex-direction: column;
  margin: 0 50px;
}
.subject .hero-img .box-subject .box-container .container-sublecture .box-sublecture,
.subject .hero-img .box-subject .box-container .container-lecture .box-sublecture {
  font-size: 19px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 50px;
  padding: 20px 30px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 20px;
  text-align: center;
}
.subject .hero-img .box-subject .box-container .container-sublecture .box-sublecture h4,
.subject .hero-img .box-subject .box-container .container-lecture .box-sublecture h4 {
  font-weight: bold;
  letter-spacing: 1px;
  margin: 20px;
  padding-bottom: 10px;
  border-bottom: 3px solid #ef476f;
}
.subject .hero-img .box-subject .box-container .container-sublecture .box-sublecture p,
.subject .hero-img .box-subject .box-container .container-lecture .box-sublecture p {
  margin: 20px;
}
.subject .hero-img .box-subject .box-container .container-sublecture .box-sublecture .subject-details .img-block img,
.subject .hero-img .box-subject .box-container .container-lecture .box-sublecture .subject-details .img-block img {
  margin: 20px;
  max-width: 70%;
}
.subject .hero-img .box-subject .box-container .container-sublecture .box-sublecture .subject-details,
.subject .hero-img .box-subject .box-container .container-sublecture .box-sublecture .sublecture-details,
.subject .hero-img .box-subject .box-container .container-lecture .box-sublecture .subject-details,
.subject .hero-img .box-subject .box-container .container-lecture .box-sublecture .sublecture-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 90%;
}
.subject .hero-img .box-subject .box-container .container-sublecture .box-sublecture .subject-details a.edit-icon i,
.subject .hero-img .box-subject .box-container .container-sublecture .box-sublecture .sublecture-details a.edit-icon i,
.subject .hero-img .box-subject .box-container .container-lecture .box-sublecture .subject-details a.edit-icon i,
.subject .hero-img .box-subject .box-container .container-lecture .box-sublecture .sublecture-details a.edit-icon i {
  right: -35px;
}
.subject .hero-img .box-subject .box-container .container-sublecture a.edit-icon i,
.subject .hero-img .box-subject .box-container .container-lecture a.edit-icon i {
  position: absolute;
  right: 10px;
  top: 45%;
  transform: translateY(-45%);
  text-decoration: none;
  color: #4cc9f0;
  transition: 0.3s ease;
  font-size: 20px;
}
.subject .hero-img .box-subject .box-container .container-sublecture a.edit-icon i:hover,
.subject .hero-img .box-subject .box-container .container-lecture a.edit-icon i:hover {
  font-size: 22px;
  color: springgreen;
}
.subject .hero-img .box-subject .box-container .container-lecture {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 60%;
  padding: 20px 30px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 20px;
  margin: 10px;
  border-right: 3px solid #ffd166;
  border-left: 3px solid #ffd166;
}
.subject .hero-img .box-subject .box-container .container-lecture .title,
.subject .hero-img .box-subject .box-container .container-lecture .content {
  margin: 0px;
  padding: 0px 10px;
  background-color: transparent;
}
.subject .hero-img .box-subject .box-container .lectureForm,
.subject .hero-img .box-subject .box-container .editLectureForm,
.subject .hero-img .box-subject .box-container .editSublectureForm,
.subject .hero-img .box-subject .box-container .editSubjectForm {
  margin: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 65%;
}
.subject .hero-img .box-subject .box-container .lectureForm #sublecturesContainer,
.subject .hero-img .box-subject .box-container .editLectureForm #sublecturesContainer,
.subject .hero-img .box-subject .box-container .editSublectureForm #sublecturesContainer,
.subject .hero-img .box-subject .box-container .editSubjectForm #sublecturesContainer {
  width: 100%;
}
.subject .hero-img .box-subject .box-container .lectureForm .formTitle,
.subject .hero-img .box-subject .box-container .editLectureForm .formTitle,
.subject .hero-img .box-subject .box-container .editSublectureForm .formTitle,
.subject .hero-img .box-subject .box-container .editSubjectForm .formTitle {
  padding: 20px 10px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 20px;
  font-size: 20px;
  letter-spacing: 1px;
  text-align: center;
  font-weight: bold;
  border-bottom: 3px solid #ef476f;
  border-top: 3px solid #ef476f;
  max-width: 400px;
  margin: 0 auto;
}
.subject .hero-img .box-subject .box-container .lectureForm .input-file,
.subject .hero-img .box-subject .box-container .editLectureForm .input-file,
.subject .hero-img .box-subject .box-container .editSublectureForm .input-file,
.subject .hero-img .box-subject .box-container .editSubjectForm .input-file {
  width: 70%;
  margin: 20px auto;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #e0eafc;
  background: linear-gradient(to left, #cfdef3, rgba(252, 240, 221, 0.84));
  color: black;
  border-radius: 10px;
  border: 2px solid black;
}
.subject .hero-img .box-subject .box-container .lectureForm .input-file h3,
.subject .hero-img .box-subject .box-container .editLectureForm .input-file h3,
.subject .hero-img .box-subject .box-container .editSublectureForm .input-file h3,
.subject .hero-img .box-subject .box-container .editSubjectForm .input-file h3 {
  font-weight: bold;
  font-size: 17px;
  margin-bottom: 20px;
}
.subject .hero-img .box-subject .box-container .lectureForm .input-file .drag-area,
.subject .hero-img .box-subject .box-container .editLectureForm .input-file .drag-area,
.subject .hero-img .box-subject .box-container .editSublectureForm .input-file .drag-area,
.subject .hero-img .box-subject .box-container .editSubjectForm .input-file .drag-area {
  width: 100%;
  min-height: 250px;
  max-height: 500px;
  border: 3px dashed rgb(86, 86, 86);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
}
.subject .hero-img .box-subject .box-container .lectureForm .input-file .drag-area .icon,
.subject .hero-img .box-subject .box-container .editLectureForm .input-file .drag-area .icon,
.subject .hero-img .box-subject .box-container .editSublectureForm .input-file .drag-area .icon,
.subject .hero-img .box-subject .box-container .editSubjectForm .input-file .drag-area .icon {
  font-size: 50px;
  color: #1683ff;
}
.subject .hero-img .box-subject .box-container .lectureForm .input-file .drag-area .header,
.subject .hero-img .box-subject .box-container .editLectureForm .input-file .drag-area .header,
.subject .hero-img .box-subject .box-container .editSublectureForm .input-file .drag-area .header,
.subject .hero-img .box-subject .box-container .editSubjectForm .input-file .drag-area .header {
  font-size: 20px;
  font-weight: 500;
}
.subject .hero-img .box-subject .box-container .lectureForm .input-file .drag-area .header.second,
.subject .hero-img .box-subject .box-container .editLectureForm .input-file .drag-area .header.second,
.subject .hero-img .box-subject .box-container .editSublectureForm .input-file .drag-area .header.second,
.subject .hero-img .box-subject .box-container .editSubjectForm .input-file .drag-area .header.second {
  transition: opacity 0.3s ease;
}
.subject .hero-img .box-subject .box-container .lectureForm .input-file .drag-area .support,
.subject .hero-img .box-subject .box-container .editLectureForm .input-file .drag-area .support,
.subject .hero-img .box-subject .box-container .editSublectureForm .input-file .drag-area .support,
.subject .hero-img .box-subject .box-container .editSubjectForm .input-file .drag-area .support {
  font-size: 12px;
  color: gray;
  margin: 10px 0 15px 0;
}
.subject .hero-img .box-subject .box-container .lectureForm .input-file .drag-area .button,
.subject .hero-img .box-subject .box-container .editLectureForm .input-file .drag-area .button,
.subject .hero-img .box-subject .box-container .editSublectureForm .input-file .drag-area .button,
.subject .hero-img .box-subject .box-container .editSubjectForm .input-file .drag-area .button {
  font-size: 20px;
  font-weight: 500;
  color: #1683ff;
  cursor: pointer;
}
.subject .hero-img .box-subject .box-container .lectureForm .input-file .drag-area img,
.subject .hero-img .box-subject .box-container .editLectureForm .input-file .drag-area img,
.subject .hero-img .box-subject .box-container .editSublectureForm .input-file .drag-area img,
.subject .hero-img .box-subject .box-container .editSubjectForm .input-file .drag-area img {
  width: 100%;
  min-height: 250px;
  max-height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 3px;
}
.subject .hero-img .box-subject .box-container .lectureForm .input-file .active,
.subject .hero-img .box-subject .box-container .editLectureForm .input-file .active,
.subject .hero-img .box-subject .box-container .editSublectureForm .input-file .active,
.subject .hero-img .box-subject .box-container .editSubjectForm .input-file .active {
  border: 4px dashed #ef476f;
  outline: none;
}
.subject .hero-img .box-subject .box-container .lectureForm .input-field,
.subject .hero-img .box-subject .box-container .editLectureForm .input-field,
.subject .hero-img .box-subject .box-container .editSublectureForm .input-field,
.subject .hero-img .box-subject .box-container .editSubjectForm .input-field {
  position: relative;
  margin: 20px auto;
  width: 70%;
}
.subject .hero-img .box-subject .box-container .lectureForm .input-field i,
.subject .hero-img .box-subject .box-container .editLectureForm .input-field i,
.subject .hero-img .box-subject .box-container .editSublectureForm .input-field i,
.subject .hero-img .box-subject .box-container .editSubjectForm .input-field i {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: rgba(7, 59, 76, 0.4352941176);
  font-size: 18px;
}
.subject .hero-img .box-subject .box-container .lectureForm .input-field input,
.subject .hero-img .box-subject .box-container .lectureForm .input-field textarea,
.subject .hero-img .box-subject .box-container .editLectureForm .input-field input,
.subject .hero-img .box-subject .box-container .editLectureForm .input-field textarea,
.subject .hero-img .box-subject .box-container .editSublectureForm .input-field input,
.subject .hero-img .box-subject .box-container .editSublectureForm .input-field textarea,
.subject .hero-img .box-subject .box-container .editSubjectForm .input-field input,
.subject .hero-img .box-subject .box-container .editSubjectForm .input-field textarea {
  width: 100%;
  padding: 10px 10px 10px 40px;
  border-radius: 10px;
  border: 2px solid black;
  font-size: 18px;
  background: #e0eafc;
  background: linear-gradient(to left, #cfdef3, rgba(252, 240, 221, 0.84));
  color: black;
}
.subject .hero-img .box-subject .box-container .lectureForm .input-field input::-moz-placeholder, .subject .hero-img .box-subject .box-container .lectureForm .input-field textarea::-moz-placeholder, .subject .hero-img .box-subject .box-container .editLectureForm .input-field input::-moz-placeholder, .subject .hero-img .box-subject .box-container .editLectureForm .input-field textarea::-moz-placeholder, .subject .hero-img .box-subject .box-container .editSublectureForm .input-field input::-moz-placeholder, .subject .hero-img .box-subject .box-container .editSublectureForm .input-field textarea::-moz-placeholder, .subject .hero-img .box-subject .box-container .editSubjectForm .input-field input::-moz-placeholder, .subject .hero-img .box-subject .box-container .editSubjectForm .input-field textarea::-moz-placeholder {
  color: black;
}
.subject .hero-img .box-subject .box-container .lectureForm .input-field input::placeholder,
.subject .hero-img .box-subject .box-container .lectureForm .input-field textarea::placeholder,
.subject .hero-img .box-subject .box-container .editLectureForm .input-field input::placeholder,
.subject .hero-img .box-subject .box-container .editLectureForm .input-field textarea::placeholder,
.subject .hero-img .box-subject .box-container .editSublectureForm .input-field input::placeholder,
.subject .hero-img .box-subject .box-container .editSublectureForm .input-field textarea::placeholder,
.subject .hero-img .box-subject .box-container .editSubjectForm .input-field input::placeholder,
.subject .hero-img .box-subject .box-container .editSubjectForm .input-field textarea::placeholder {
  color: black;
}
.subject .hero-img .box-subject .box-container .lectureForm .input-field input:focus,
.subject .hero-img .box-subject .box-container .lectureForm .input-field textarea:focus,
.subject .hero-img .box-subject .box-container .editLectureForm .input-field input:focus,
.subject .hero-img .box-subject .box-container .editLectureForm .input-field textarea:focus,
.subject .hero-img .box-subject .box-container .editSublectureForm .input-field input:focus,
.subject .hero-img .box-subject .box-container .editSublectureForm .input-field textarea:focus,
.subject .hero-img .box-subject .box-container .editSubjectForm .input-field input:focus,
.subject .hero-img .box-subject .box-container .editSubjectForm .input-field textarea:focus {
  outline: none;
  border-color: #ef476f;
}
.subject .hero-img .box-subject .box-container .lectureForm .box-btn,
.subject .hero-img .box-subject .box-container .editLectureForm .box-btn,
.subject .hero-img .box-subject .box-container .editSublectureForm .box-btn,
.subject .hero-img .box-subject .box-container .editSubjectForm .box-btn {
  display: flex;
  flex-direction: row;
  align-content: space-around;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-bottom: 20px;
}
.subject .hero-img .box-subject .box-container .lectureForm button.add-btn,
.subject .hero-img .box-subject .box-container .lectureForm .delete-btn,
.subject .hero-img .box-subject .box-container .lectureForm .info-btn,
.subject .hero-img .box-subject .box-container .editLectureForm button.add-btn,
.subject .hero-img .box-subject .box-container .editLectureForm .delete-btn,
.subject .hero-img .box-subject .box-container .editLectureForm .info-btn,
.subject .hero-img .box-subject .box-container .editSublectureForm button.add-btn,
.subject .hero-img .box-subject .box-container .editSublectureForm .delete-btn,
.subject .hero-img .box-subject .box-container .editSublectureForm .info-btn,
.subject .hero-img .box-subject .box-container .editSubjectForm button.add-btn,
.subject .hero-img .box-subject .box-container .editSubjectForm .delete-btn,
.subject .hero-img .box-subject .box-container .editSubjectForm .info-btn {
  margin: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  transition: 0.3s ease;
}
.subject .hero-img .box-subject .box-container .lectureForm button.add-btn:hover,
.subject .hero-img .box-subject .box-container .lectureForm .delete-btn:hover,
.subject .hero-img .box-subject .box-container .lectureForm .info-btn:hover,
.subject .hero-img .box-subject .box-container .editLectureForm button.add-btn:hover,
.subject .hero-img .box-subject .box-container .editLectureForm .delete-btn:hover,
.subject .hero-img .box-subject .box-container .editLectureForm .info-btn:hover,
.subject .hero-img .box-subject .box-container .editSublectureForm button.add-btn:hover,
.subject .hero-img .box-subject .box-container .editSublectureForm .delete-btn:hover,
.subject .hero-img .box-subject .box-container .editSublectureForm .info-btn:hover,
.subject .hero-img .box-subject .box-container .editSubjectForm button.add-btn:hover,
.subject .hero-img .box-subject .box-container .editSubjectForm .delete-btn:hover,
.subject .hero-img .box-subject .box-container .editSubjectForm .info-btn:hover {
  transform: scale(1.05);
}
.subject .hero-img .box-subject .box-container .lectureForm button.add-btn,
.subject .hero-img .box-subject .box-container .editLectureForm button.add-btn,
.subject .hero-img .box-subject .box-container .editSublectureForm button.add-btn,
.subject .hero-img .box-subject .box-container .editSubjectForm button.add-btn {
  background-color: #2de300;
}
.subject .hero-img .box-subject .box-container .lectureForm button.add-btn:hover,
.subject .hero-img .box-subject .box-container .editLectureForm button.add-btn:hover,
.subject .hero-img .box-subject .box-container .editSublectureForm button.add-btn:hover,
.subject .hero-img .box-subject .box-container .editSubjectForm button.add-btn:hover {
  background-color: #23b000;
}
.subject .hero-img .box-subject .box-container .lectureForm button.info-btn,
.subject .hero-img .box-subject .box-container .editLectureForm button.info-btn,
.subject .hero-img .box-subject .box-container .editSublectureForm button.info-btn,
.subject .hero-img .box-subject .box-container .editSubjectForm button.info-btn {
  background-color: #4d84e2;
}
.subject .hero-img .box-subject .box-container .lectureForm button.info-btn:hover,
.subject .hero-img .box-subject .box-container .editLectureForm button.info-btn:hover,
.subject .hero-img .box-subject .box-container .editSublectureForm button.info-btn:hover,
.subject .hero-img .box-subject .box-container .editSubjectForm button.info-btn:hover {
  background-color: #2366d9;
}
.subject .hero-img .box-subject .box-container .lectureForm button.delete-btn,
.subject .hero-img .box-subject .box-container .editLectureForm button.delete-btn,
.subject .hero-img .box-subject .box-container .editSublectureForm button.delete-btn,
.subject .hero-img .box-subject .box-container .editSubjectForm button.delete-btn {
  background-color: #ef476f;
}
.subject .hero-img .box-subject .box-container .lectureForm button.delete-btn:hover,
.subject .hero-img .box-subject .box-container .editLectureForm button.delete-btn:hover,
.subject .hero-img .box-subject .box-container .editSublectureForm button.delete-btn:hover,
.subject .hero-img .box-subject .box-container .editSubjectForm button.delete-btn:hover {
  background-color: #eb184a;
}
.subject .hero-img .box-subject .box-container .editLectureForm {
  margin: 0;
  width: 100%;
}
.subject .hero-img .box-subject .box-container .editLectureForm .formTitle {
  width: 80%;
}
.subject .hero-img .box-subject .box-container .editSublectureForm, .subject .hero-img .box-subject .box-container .editSubjectForm {
  margin: 0;
  width: 85%;
}
.subject .hero-img .box-subject .box-container .editSublectureForm .input-field, .subject .hero-img .box-subject .box-container .editSubjectForm .input-field {
  width: 100%;
}
.subject .hero-img .box-subject .box-container .editSublectureForm .input-field input,
.subject .hero-img .box-subject .box-container .editSublectureForm .input-field textarea, .subject .hero-img .box-subject .box-container .editSubjectForm .input-field input,
.subject .hero-img .box-subject .box-container .editSubjectForm .input-field textarea {
  text-align: center;
}
.subject .hero-img .box-subject .box-container .editSublectureForm .input-file, .subject .hero-img .box-subject .box-container .editSubjectForm .input-file {
  width: 85%;
}

.contact {
  padding: 20px;
  position: relative;
  background-image: url("../img/contact.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  z-index: 200;
}
.contact i {
  padding: 10px;
  font-size: 24px;
  color: springgreen;
  transition: 0.3s;
}
.contact i:hover {
  color: #ffd166;
}
.contact h2 {
  font-size: 32px;
  font-weight: bold;
}
.contact .contact-shadow {
  z-index: -5;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
}
.contact .contact-us {
  display: flex;
  align-items: center;
}
.contact .contact-us .contact-item {
  margin: 30px 0px;
}
.contact .contact-us .contact-item h3 {
  margin-bottom: 20px;
  color: #e0ff72;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
}
.contact .contact-us .contact-item p {
  font-size: 18px;
  color: antiquewhite;
}

@media (max-width: 720px) {
  .subject .hero-img .box-subject {
    top: 12vh;
    left: 0px;
  }
  .subject .hero-img .box-subject .box-container .lectureForm .input-field,
  .subject .hero-img .box-subject .box-container .lectureForm .input-file {
    width: 100%;
  }
  .subject .hero-img .box-subject .box-container .container-sublecture,
  .subject .hero-img .box-subject .box-container .container-lecture {
    max-width: 100%;
  }
  .navbar-nav .subject-nav {
    height: 330px;
  }
}
@media (min-width: 576px) and (max-width: 720px) {
  .container,
  .container-sm {
    max-width: 100%;
  }
  .subject .hero-img .box-subject .box-container .container-sublecture {
    margin: 0;
  }
}
@media (max-width: 540px) {
  .subject .hero-img {
    height: 117vh;
  }
  .subject .hero-img .box-subject {
    height: 102vh;
  }
  .subject .hero-img .box-subject .box-container .container-sublecture {
    margin: 0 10px;
  }
  .subject .hero-img .box-subject .box-container .container-sublecture .box-sublecture {
    font-size: 14px;
    margin: 30px;
    padding: 20px;
  }
  .navbar-left {
    height: 105vh;
  }
}
@media (max-width: 400px) {
  .subject .hero-img {
    height: 150vh;
  }
  .subject .hero-img .box-subject {
    height: 130vh;
  }
  .navbar-left {
    height: 138vh;
  }
}/*# sourceMappingURL=lecture.css.map */