$primary-color: #EF476F;
$secondary-color: #FFD166;
$nav-color: #e0ff72;
$text-color: aliceblue;
$placeHolder-color: rgb(192, 192, 219);
$icon-color: springgreen;
$bg-price-color: #073b4c6f;
$bg-category-color: #118ab2;
$input-color: #0077b6;
$btn-bg-color: #4d84e2;
$btn-bg-color-hover: #99d98c;
$category-icon: #4cc9f0;