@import '_colors.scss';
@import '_animation.scss';

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	position: relative;
	color: $text-color;
	background-color: #333;
	font-family: 'Montserrat', sans-serif;
	overflow-x: hidden;
}

h2 {
	text-align: center;
	text-transform: uppercase;
}

.orange-text {
	color: $primary-color;
	font-weight: bold;
}

.gold-text {
	color: $secondary-color;
	font-weight: bold;
}

.shadow-bg {
	background-color: rgba(0, 0, 0, 0.85);
}

.underline {
	background-color: $primary-color;
	width: 220px;
	height: 5px;
	margin: 0 auto 30px;
}

.details {
	.hero-img {
		position: relative;
		height: 110vh;
		background-image: url('../img/backgroundPaneldashboard.png');
		background-position: center;
		background-size: cover;
		overflow: hidden;

		.box-container {
			position: absolute;
			top: 12vh;
			left: 300px;
			width: calc(100vw - 300px);
			max-height: 97vh;
			overflow-y: auto;

			.title {
				display: inline-block;
				padding: 20px 10px;
				background-color: rgba(0, 0, 0, 0.8);
				border-radius: 20px;
				font-size: 20px;
				font-style: italic;
				letter-spacing: 1px;
				text-align: center;
				white-space: nowrap;
				margin: 20px auto;
			}

			.mini-title {
				margin: 0px auto;
				padding: 20px 10px;
				background-color: rgba(0, 0, 0, 0.8);
				border-radius: 20px;
				font-size: 16px;
				font-style: italic;
				letter-spacing: 1px;
				text-align: center;
				box-shadow: 0px 0px 15px 3px rgba(7, 59, 76, 0.4352941176);
				width: fit-content;
			}

			.add-btn,
			.delete-btn,
			.info-btn,
			.cancel-btn {
				font-size: 18px;
				height: 35px;
				padding: 0px 10px;
				border: none;
				border-radius: 10px;
				color: white;
				font-weight: bold;
				text-transform: uppercase;
				text-align: center;
				cursor: pointer;
				transition: 0.3s ease;

				&:hover {
					transform: scale(1.05);
				}
			}

			button.delete-btn {
				background-color: $primary-color;
				&:hover {
					background-color: darken($primary-color, 10%);
				}
			}

			button.add-btn {
				background-color: #2de300;

				&:hover {
					background-color: darken(#2de300, 10%);
				}
			}

			button.info-btn {
				background-color: $btn-bg-color;
				&:hover {
					background-color: darken($btn-bg-color, 10%);
				}
			}

			button.cancel-btn {
				background-color: darken($secondary-color, 10%);
				&:hover {
					background-color: darken($secondary-color, 20%);
				}
			}

			.box-course {
				.course-schoolUser {
					width: auto;
					max-width: 700px;
					margin: 0px auto;
					display: flex;
					flex-direction: column;
					padding: 10px;

					.btn-box {
						margin: 10px 0;
						display: flex;
						flex-wrap: wrap;
						flex-direction: row;
						align-items: center;
						justify-content: space-evenly;
						gap: 10px;

						button {
							font-size: 16px;
						}
					}

					.course-details {
						.detail,
						.detail-title {
							display: flex;
							justify-content: space-between;
							align-items: center;
							margin-bottom: 10px;
							background-color: rgba(0, 0, 0, 0.8);
							padding: 10px;
							border-bottom: 2px solid $text-color;
							border-radius: 10px 10px 0 0;
							gap: 10px;

							.title-header {
								font-style: italic;
								font-size: 15px;
								color: $info-color;
							}

							.content {
								font-size: 15px;
								color: $text-color;
								text-align: right;

								span {
									margin-left: 4px;
								}

								.hours {
									font-weight: bold;
									color: $secondary-color;
								}
							}
						}

						.detail-title {
							flex-direction: column;

							.content {
								text-align: center;
							}
						}
					}
				}
			}

			.box-drivingSessions {
				.account-drivingSessions {
					width: auto;
					max-width: 700px;
					display: flex;
					flex-direction: column;
					padding: 10px;
					margin: 0px auto;

					.schoolUser-drivingSessions {
						.drivingSession {
							position: relative;
							display: flex;
							align-items: center;
							flex-direction: column;
							background-color: rgba(0, 0, 0, 0.8);
							padding: 10px 15px;
							border-bottom: 1px solid $calendar-font-color;
							transition: transform 0.3s ease;

							&:first-child {
								border-radius: 10px 10px 0 0;
							}

							.box {
								width: 100%;
								display: flex;
								flex-direction: row;
								justify-content: space-between;
								align-items: center;
								gap: 10px;

								.title-header {
									font-size: 15px;
									color: $btn-bg-color-hover;
								}

								.content,
								.time {
									font-size: 15px;
									color: $text-color;

									span {
										margin-left: 4px;
									}
								}

								.time {
									.hours {
										font-weight: bold;
										color: $secondary-color;
									}
								}
							}

							.operations {
								background: transparent;
								position: absolute;
								top: 50%;
								transform: translateY(-50%);
								left: -90px;
								transition: transform 0.3s ease, opacity 0.3s ease;
								display: flex;
								overflow: visible;
								gap: 6px;
								opacity: 0;
								padding-right: 10px;
							}

							@media (hover: hover) and (pointer: fine) {
								&:hover {
									cursor: pointer;
									transform: translateX(100px);

									.operations {
										opacity: 1;
									}
								}
							}

							&.clicked {
								transform: translateX(100px);

								.operations {
									opacity: 1;
								}
							}
						}

						.drivingSummary {
							position: relative;
							display: flex;
							align-items: center;
							flex-direction: column;
							background-color: rgba(0, 0, 0, 0.8);
							padding: 10px 15px;
							border-top: 1px solid $text-color;
							border-radius: 0px 0px 10px 10px;

							.box {
								width: 100%;
								display: flex;
								flex-direction: row;
								justify-content: space-between;
								align-items: center;
								gap: 10px;

								.title-header {
									font-weight: bold;
									font-size: 15px;
									color: $secondary-color;
								}

								.content,
								.time {
									font-size: 15px;
									color: $text-color;

									span {
										margin-left: 4px;
									}
								}

								.time {
									font-weight: bold;
									.hours {
										color: $secondary-color;
									}
								}
							}
						}

						.editDrivingSession {
							position: relative;
							display: flex;
							align-items: center;
							flex-direction: column;
							background-color: rgba(0, 0, 0, 0.8);
							padding: 10px 15px;
							border: 1.5px solid $info-color;
							transition: transform 0.3s ease;

							&:first-child {
								border-radius: 10px 10px 0 0;
							}

							.box-edit {
								width: 100%;
								display: flex;
								flex-direction: column;
								gap: 15px;

								.rowSession {
									display: flex;
									align-items: center;
								}

								.top-row {
									justify-content: space-between;

									.title-header {
										font-size: 16px;
										color: $btn-bg-color-hover;
									}

									.time {
										display: flex;
										align-items: center;
										font-size: 16px;
										color: $text-color;

										input {
											width: 70px;
											margin-right: 5px;
										}

										.hours {
											font-weight: bold;
											color: $secondary-color;
										}
									}
								}

								.comment-row {
									width: 100%;

									input {
										width: 100%;
									}
								}

								input {
									padding: 10px;
									font-size: 16px;
									color: $text-color;
									border: 1px solid #ccc;
									border-radius: 8px;
									background-color: rgba(255, 255, 255, 0.1);

									&:focus {
										outline: none;
										border-color: $primary-color;
										box-shadow: 0 0 5px rgba($primary-color, 0.5);
									}
								}
							}

							.button-group {
								display: flex;
								justify-content: center;
								gap: 10px;
							}
						}

						.newDrivingSession {
							background: linear-gradient(-135deg, rgba(0, 0, 0, 0.93), #0a4c62e1);
							border-radius: 20px;
							box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
							max-width: 500px;
							padding: 15px;
							margin: 0 auto;
							margin-top: 25px;

							.box-new {
								display: flex;
								flex-direction: column;
								align-items: center;
								gap: 15px;

								.title-box {
									width: 100%;

									p {
										font-size: 20px;
										font-weight: bold;
										color: $category-icon;
										margin-top: 20px;
										text-align: center;
									}

									hr {
										border: none;
										border-top: 1px solid $text-color;
									}
								}

								.rowSession {
									display: flex;
									align-items: center;

									.title-header {
										flex: 1;
										color: #fff;
										margin-right: 10px;
									}

									input {
										padding: 10px;
										font-size: 16px;
										color: $text-color;
										border: 1px solid #ccc;
										border-radius: 8px;
										background-color: rgba(255, 255, 255, 0.1);

										&:focus {
											outline: none;
											border-color: $primary-color;
											box-shadow: 0 0 5px rgba($primary-color, 0.5);
										}
									}

									.hours {
										margin-left: 5px;
										font-size: 16px;
										font-weight: bold;
										color: $secondary-color;
									}
								}

								.bottom-row {
									input {
										width: 80px;
									}
								}

								.comment-row {
									flex-direction: column;
									gap: 5px;

									input {
										width: 90%;
									}
								}
							}
						}
					}
				}
			}

			.box-course,
			.box-drivingSessions {
				margin: 40px 20px;
				box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
				position: relative;
				overflow: hidden;
				border-radius: 20px;
				backdrop-filter: blur(9px);
			}

			.box-course {
				background: linear-gradient(-135deg, $box-third-start, $box-end);
			}

			.box-drivingSessions {
				background: linear-gradient(-135deg, $box-second-start, $box-end);
			}
		}
	}
}

.contact {
	padding: 20px;
	position: relative;
	background-image: url('../img/contact.jpg');
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	z-index: 200;

	i {
		padding: 10px;
		font-size: 24px;
		color: $icon-color;
		transition: 0.3s;
	}

	i:hover {
		color: $secondary-color;
	}

	h2 {
		font-size: 32px;
		font-weight: bold;
	}

	.contact-shadow {
		z-index: -5;
		position: absolute;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.6);
		top: 0;
		left: 0;
	}

	.contact-us {
		display: flex;
		align-items: center;

		.contact-item {
			margin: 30px 0px;

			h3 {
				margin-bottom: 20px;
				color: $nav-color;
				text-transform: uppercase;
				font-weight: bold;
				letter-spacing: 2px;
			}

			p {
				font-size: 18px;
				color: antiquewhite;
			}
		}
	}
}

@media (max-width: 720px) {
	.details {
		.hero-img {
			.box-container {
				left: 0px;
				width: 100%;
			}
		}
	}
}
