@import '_colors.scss';
@import '_animation.scss';

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	position: relative;
	color: $text-color;
	background-color: #333;
	font-family: 'Montserrat', sans-serif;
	overflow-x: hidden;
}

main,
footer {
	display: none;
}

h2 {
	text-align: center;
	text-transform: uppercase;
}

.orange-text {
	color: $primary-color;
	font-weight: bold;
}

.gold-text {
	color: $secondary-color;
	font-weight: bold;
}

.shadow-bg {
	background-color: rgba(0, 0, 0, 0.85);
}

.underline {
	background-color: $primary-color;
	width: 220px;
	height: 5px;
	margin: 0 auto 30px;
}

.navbar-left {
	height: 760px;
}

.edit-event-section {
	.hero-img {
		position: relative;
		min-height: 850px;
		background-image: url('/assets/img/backgroundCalendar.png');
		background-position: center;
		background-size: cover;
		z-index: 0;
		overflow: hidden;

		.hero-shadow {
			position: absolute;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.4);
			z-index: -5;
		}

		.container {
			width: 100%;
			margin: 0 auto;
			--bs-gutter-x: 0;

			.mini-title-warning {
				margin: 20px auto;
				padding: 20px 15px;
				background-color: rgba(0, 0, 0, 0.8);
				border-radius: 20px;
				font-size: 16px;
				font-style: italic;
				letter-spacing: 1px;
				text-align: center;
				border: 5px dotted $primary-color;
			}

			.warning-text {
				text-align: center;
				margin: 10px auto;
				max-width: 400px;
				font-weight: bold;
				background-color: #3333337a;
				border-radius: 10px;
				padding: 10px;
				padding-left: 35px;
				position: relative;
				color: $secondary-color;
				border-left: 4px solid $secondary-color;
				border-right: 4px solid $secondary-color;

				&::before {
					font-family: 'Font Awesome 5 Free';
					font-weight: 900;
					color: inherit;
					position: absolute;
					left: 10px;
					top: 50%;
					transform: translateY(-50%);
					content: '\f071';
				}
			}

			.box-event {
				position: absolute;
				top: 30px;
				left: 300px;
				width: calc(100% - 300px);
				height: 100%;
				padding: 20px;
				overflow: hidden;
				display: flex;
				flex-direction: column;
				text-align: center;
				flex-wrap: nowrap;
				align-content: center;
				justify-content: center;
				align-items: center;

				.box-container {
					margin: 0 auto;
					padding: 5px;
					color: $text-color;
					display: flex;
					border-radius: 20px;
					background-color: $bg-calendar-color;

					.left {
						width: 60%;
						padding: 20px;
						display: flex;
						flex-direction: column;

						.edit-event-wrapper {
							max-height: 550px;
							height: 100%;
							overflow-y: auto;
							border-radius: 5px;
							background: #e0eafc;
							background: -webkit-linear-gradient(to left, #cfdef3, rgba(252, 240, 221, 0.84));
							background: linear-gradient(to left, #cfdef3, rgba(252, 240, 221, 1));
							box-shadow: 0px 0px 10px rgba(45, 76, 103, 0.654);

							.edit-event-header {
								width: 100%;
								height: 70px;
								display: flex;
								align-items: center;
								justify-content: space-between;
								padding: 0 20px;
								color: $calendar-font-color;
								border-bottom: 1px solid #f5f5f5;

								.title,
								.subject {
									color: $calendar-font-color;
									font-size: 1.2rem;
									font-weight: 500;
								}

								.title {
									width: 100%;
									text-align: center;
								}
							}

							.edit-event-body {
								width: 100%;
								display: flex;
								flex-direction: column;
								gap: 5px;
								padding: 20px;
								padding-bottom: 0px;

								.edit-event-input {
									width: 100%;
									display: flex;
									flex-direction: column;
									align-items: center;
									justify-content: space-between;
									gap: 10px;
									margin: 5px;

									p {
										width: 100%;
										font-size: 14px;
										letter-spacing: 1px;
										color: $calendar-font-color;
										text-align: left;
										margin: 0;
										margin-left: 30px;
										margin-bottom: -10px;
									}

									input,
									select {
										width: 100%;
										height: 40px;
										outline: none;
										border: none;
										border: 2px solid #f5f5f5;
										padding: 0 10px;
										font-size: 1rem;
										font-weight: 500;
										color: $calendar-font-color;
										border-radius: 5px;

										&:focus {
											outline: none;
											border-color: $calendar-color;
										}
									}
								}
							}
						}

						.edit-event-footer {
							display: flex;
							align-items: center;
							justify-content: center;
							justify-content: space-evenly;
							padding: 20px 15px;

							.edit-event-btn,
							.back-event-btn {
								height: 40px;
								font-size: 1rem;
								font-weight: 500;
								outline: none;
								border: none;
								color: $text-color;
								border-radius: 5px;
								cursor: pointer;
								padding: 5px 10px;
								transition: 0.3s ease;

								&:hover {
									background-color: transparent;
									color: $calendar-font-color;
								}
							}

							.edit-event-btn {
								border: 2px solid $calendar-color;
								background-color: $calendar-color;
							}

							.back-event-btn {
								border: 2px solid $btn-bg-color;
								background-color: $btn-bg-color;
							}
						}
					}

					.right {
						position: relative;
						width: 40%;
						min-height: 100%;
						padding: 20px 0;
						margin-left: 8px;

						.capacity-number {
							font-family: 'Roboto', sans-serif;
							font-size: 1.1rem;
							font-weight: 500;
							letter-spacing: 1px;
							color: $category-icon;
						}

						.today-date {
							width: 100%;
							height: 50px;
							display: flex;
							flex-wrap: wrap;
							gap: 10px;
							justify-content: center;
							flex-direction: row;
							align-items: center;
							align-content: flex-start;
							padding: 0 40px;
							text-transform: capitalize;
							margin-top: 30px;

							.event-day {
								font-size: 1.5rem;
								font-weight: 500;
							}

							.event-date {
								font-size: 1rem;
								font-weight: 400;
								color: #878895;
							}
						}

						.assignPeople {
							width: 100%;
							height: 100%;
							max-height: 500px;
							overflow-x: hidden;
							overflow-y: auto;
							display: flex;
							flex-direction: column;
							align-items: center;
							padding-left: 5px;
							padding-top: 5px;

							.person {
								position: relative;
								width: 100%;
								min-height: 100px;
								display: flex;
								justify-content: center;
								flex-direction: column;
								align-content: center;
								gap: 5px;
								margin-top: 15px;
								margin-left: 5px;
								padding: 10px 20px;
								color: #fff;
								background: linear-gradient(90deg, #3f4458, transparent);
								cursor: pointer;
								border-radius: 5px;
								transition: transform 0.3s ease;

								&.hidden {
									display: none;
								}

								&:nth-child(even) {
									background: transparent;
								}

								&:hover {
									background: linear-gradient(90deg, $calendar-color, transparent);
									transform: translateX(30px);
								}

								&:hover .delete-icon {
									opacity: 1;
								}

								&:hover .delete-icon:hover {
									color: $primary-color;
								}

								&.clicked {
									background: linear-gradient(90deg, $calendar-color, transparent);
									transform: translateX(30px);

									.delete-icon {
										opacity: 1;
									}
								}

								.delete-form {
									height: 100%;
									width: 40px;
									display: flex;
									position: absolute;
									left: -30px;
									top: 50%;
									transform: translateY(-50%);

									button {
										width: 100%;
										padding-right: 20px;
										background: transparent;
									}
								}

								.delete-icon {
									font-size: 22px;
									opacity: 0;
									transition: 0.3s ease;

									&:hover {
										transform: scale(1.15);
									}
								}

								.name,
								.surname,
								.email {
									display: flex;
									align-items: baseline;
									pointer-events: none;
									justify-content: center;

									.person-name,
									.person-surname,
									.person-email {
										font-size: 1rem;
										font-weight: 400;
										margin-left: 10px;
										margin-right: 10px;
									}
								}

								i {
									color: $calendar-color;
									transition: color 0.3s ease;
								}

								&:hover i {
									color: #fff;
								}

								&::after {
									content: '☃︎';
									position: absolute;
									top: 50%;
									right: 0;
									font-size: 2rem;
									line-height: 1;
									display: none;
									align-items: center;
									justify-content: center;
									opacity: 0.3;
									color: $calendar-color;
									transform: translateY(-50%);
								}

								&:hover::after {
									display: flex;
								}

								button {
									border: none;
								}
							}

							.no-people {
								width: 100%;
								height: 100%;
								display: flex;
								align-items: center;
								justify-content: center;
								font-size: 1.5rem;
								font-weight: 500;
								color: lighten($color: $calendar-font-color, $amount: 30%);
							}
						}
					}
				}
			}
		}
	}
}

@media (min-width: 768px) {
	.edit-event-section {
		.hero-img {
			.container {
				.box-event {
					.box-container {
						max-width: 100%;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 1000px) {
	.edit-event-section {
		.hero-img {
			min-height: 1500px;
			.container {
				.box-event {
					width: 100%;
					top: 110px;
					left: 0px;
					align-items: flex-start;
					justify-content: flex-start;

					.box-container {
						min-height: 100vh;
						flex-direction: column;

						.left {
							width: 100%;
							height: 100%;
							display: flex;
							flex-direction: row;
							justify-content: center;
							padding: 0;
							padding-top: 10px;

							.edit-event-wrapper {
								width: 75%;

								.edit-event-body {
									.edit-event-input {
										p {
											font-size: 12px;
										}
									}
								}
							}
						}

						.right {
							width: 100%;
							height: 100%;
							padding: 20px 0;

							.assignPeople {
								padding-bottom: 100px;

								.no-people {
									height: 30%;
								}
							}

							.today-date {
								margin-top: 10px;
							}
						}
					}
				}
			}
		}
	}

	.navbar-left {
		display: none;

		.navbar-nav {
			.logout {
				display: block;
			}
		}
	}

	.navbar-top {
		button {
			display: block;
		}

		.box-account {
			display: none;
		}
	}
}

@media screen and (max-width: 500px) {
	.edit-event-section {
		.hero-img {
			min-height: 1300px;
		}
	}
}
