@import '_colors.scss';
@import '_animation.scss';

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	position: relative;
	color: $text-color;
	background-color: #333;
	font-family: 'Montserrat', sans-serif;
	overflow-x: hidden;
}

h2 {
	text-align: center;
	text-transform: uppercase;
}

.orange-text {
	color: $primary-color;
	font-weight: bold;
}

.gold-text {
	color: $secondary-color;
	font-weight: bold;
}

.shadow-bg {
	background-color: rgba(0, 0, 0, 0.85);
}

.underline {
	background-color: $primary-color;
	width: 220px;
	height: 5px;
	margin: 0 auto 30px;
}

.navbar-nav {
	.progres {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 30px;

		span {
			color: $icon-color;
		}

		.progres-box {
			width: 80%;
			height: 16px;
			margin-bottom: 30px;
			border-radius: 20px;
			border: 2px solid $text-color;

			.progres-bar {
				height: 12px;
				width: 24%;
				border-radius: 20px;
				background-color: #62d63c;
			}
		}
	}

	.subject-nav {
		width: 100%;
		height: 30vh;
		overflow: auto;

		.title {
			font-style: normal;
			font-weight: bold;
			margin-bottom: 20px;
		}

		ol {
			list-style-type: none;
			counter-reset: item;
			padding-left: 0;

			li {
				margin: 15px;
				position: relative;
				padding-left: 35px;
				display: flex;
				align-items: center;

				a {
					color: $text-color;
					margin-left: 15px;
					font-size: 14px;
				}

				a:hover {
					cursor: pointer;
					font-weight: bold;
				}
			}

			li::before {
				counter-increment: item;
				content: counter(item);
				position: absolute;
				left: 10px;
				width: 25px;
				height: 25px;
				border-radius: 50%;
				background-color: $category-icon;
				color: black;
				display: flex;
				align-items: center;
				justify-content: center;
				font-weight: bold;
			}
		}
	}
}

.navbar-left {
	height: 100vh;
	overflow: hidden;
}

.subject {
	.hero-img {
		position: relative;
		height: 110vh;
		background-image: url('../img/backgroundSubject.png');
		background-position: center;
		background-size: cover;
		z-index: 0;
		overflow: hidden;

		.hero-shadow {
			position: absolute;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.4);
			z-index: -5;
		}

		.box-subject {
			position: absolute;
			top: 12vh;
			left: 150px;
			height: 97vh;
			width: 100%;
			overflow: scroll;

			.box-container {
				display: flex;
				flex-direction: column;
				align-items: center;
				margin: 10px auto;

				.container {
					display: flex;
					flex-direction: column;
					align-items: center;
					width: 100%;
				}

				.title {
					padding: 20px 10px;
					background-color: rgba(0, 0, 0, 0.6);
					border-radius: 20px;
					font-size: 20px;
					letter-spacing: 1px;
					text-align: center;
					font-weight: bold;
				}

				.content {
					padding: 20px 10px;
					background-color: rgba(0, 0, 0, 0.6);
					border-radius: 20px;
					font-size: 17px;
					text-align: center;
				}

				.container-sublecture,
				.container-lecture {
					display: flex;
					flex-direction: column;
					margin: 0 50px;

					.sublecture-details {
						font-size: 19px;
						display: flex;
						flex-direction: column;
						align-items: center;
						margin: 30px 50px;
						padding: 20px 30px;
						background-color: rgba(0, 0, 0, 0.7);
						border-radius: 20px;
						text-align: center;

						h4 {
							font-weight: bold;
							letter-spacing: 1px;
							margin: 20px;
							padding-bottom: 10px;
							border-bottom: 3px solid $primary-color;
						}

						ol {
							display: flex;
							flex-direction: column;
							align-items: center;
						}

						li {
							margin: 5px;
						}

						p,
						img {
							margin: 20px;
						}

						img {
							width: 60%;
						}

						i {
							color: $category-icon;
							font-size: 36px;
							padding: 20px;
						}

						span {
							color: $category-icon;
							font-weight: bold;
						}
					}
				}

				.container-lecture {
					display: flex;
					flex-direction: column;
					align-items: center;
					max-width: 60%;
					padding: 20px 10px;
					background-color: rgba(0, 0, 0, 0.6);
					border-radius: 20px;
					margin: 10px;
					border-right: 3px solid $secondary-color;
					border-left: 3px solid $secondary-color;

					.title,
					.content {
						margin: 0px;
						padding: 0px 10px;
						background-color: transparent;
					}
				}

				.lectureForm {
					margin: 50px 0;
					display: flex;
					flex-direction: column;
					align-items: center;
					width: 65%;

					#sublecturesContainer {
						width: 100%;
					}

					.formTitle {
						padding: 20px 10px;
						background-color: rgba(0, 0, 0, 0.6);
						border-radius: 20px;
						font-size: 20px;
						letter-spacing: 1px;
						text-align: center;
						font-weight: bold;
						border-bottom: 3px solid $primary-color;
						border-top: 3px solid $primary-color;
						max-width: 400px;
						margin: 0 auto;
					}

					.input-field {
						position: relative;
						margin: 20px auto;
						width: 90%;
						max-width: 500px;

						i {
							position: absolute;
							left: 10px;
							top: 50%;
							transform: translateY(-50%);
							color: $bg-price-color;
							font-size: 18px;
						}

						input,
						textarea {
							width: 100%;
							padding: 10px 10px 10px 40px;
							border-radius: 10px;
							border: 2px solid black;
							background-color: rgba(252, 240, 221, 0.84);
							color: black;

							&::placeholder {
								color: black;
							}

							&:focus {
								outline: none;
								border-color: $primary-color;
							}
						}
					}

					.box-btn {
						display: flex;
						flex-direction: row;
						align-content: space-around;
						justify-content: center;
						align-items: stretch;
						flex-wrap: wrap;
						margin-top: 10px;
						margin-bottom: 20px;
					}

					button.main-btn,
					.other-btn {
						margin: 10px;
						padding: 10px 20px;
						border: none;
						border-radius: 10px;
						color: white;
						font-weight: bold;
						text-transform: uppercase;
						text-align: center;
						cursor: pointer;
						transition: background-color 0.3s;
						transition: transform 0.3s ease;

						&:hover {
							transform: scale(1.05);
						}
					}

					button.main-btn {
						background-color: $primary-color;

						&:hover {
							background-color: darken($primary-color, 10%);
						}
					}

					button.other-btn {
						background-color: $btn-bg-color;
						&:hover {
							background-color: darken($btn-bg-color, 10%);
						}
					}
				}
			}
		}
	}
}

.contact {
	padding: 20px;
	position: relative;
	background-image: url('../img/contact.jpg');
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	z-index: 200;

	i {
		padding: 10px;
		font-size: 24px;
		color: $icon-color;
		transition: 0.3s;
	}

	i:hover {
		color: $secondary-color;
	}

	h2 {
		font-size: 32px;
		font-weight: bold;
	}

	.contact-shadow {
		z-index: -5;
		position: absolute;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.6);
		top: 0;
		left: 0;
	}

	.contact-us {
		display: flex;
		align-items: center;

		.contact-item {
			margin: 30px 0px;

			h3 {
				margin-bottom: 20px;
				color: $nav-color;
				text-transform: uppercase;
				font-weight: bold;
				letter-spacing: 2px;
			}

			p {
				font-size: 18px;
				color: antiquewhite;
			}
		}
	}
}

@media (max-width: 720px) {
	.subject {
		.hero-img {
			.box-subject {
				top: 12vh;
				left: 0px;
				.box-container {
					.container-sublecture,
					.container-lecture {
						max-width: 100%;
					}
				}
			}
		}
	}

	.navbar-nav {
		.subject-nav {
			height: 330px;
		}
	}
}

@media (min-width: 576px) and (max-width: 720px) {
	.container,
	.container-sm {
		max-width: 100%;
	}

	.subject {
		.hero-img {
			.box-subject {
				.box-container {
					.container-sublecture {
						margin: 0;
					}
				}
			}
		}
	}
}

@media (max-width: 540px) {
	.subject {
		.hero-img {
			height: 117vh;
			.box-subject {
				height: 102vh;
				.box-container {
					.container-sublecture {
						margin: 0 10px;
						.sublecture-details {
							font-size: 14px;
							margin: 30px;
							padding: 20px;
						}
					}
				}
			}
		}
	}

	.navbar-left {
		height: 105vh;
	}
}

@media (max-width: 400px) {
	.subject {
		.hero-img {
			height: 150vh;
			.box-subject {
				height: 130vh;
			}
		}
	}

	.navbar-left {
		height: 138vh;
	}
}
