@import '_colors.scss';
@import '_animation.scss';

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	position: relative;
	color: $text-color;
	background-color: #333;
	font-family: 'Montserrat', sans-serif;
	overflow-x: hidden;
}

h2 {
	text-align: center;
	text-transform: uppercase;
}

.orange-text {
	color: $primary-color;
	font-weight: bold;
}

.gold-text {
	color: $secondary-color;
	font-weight: bold;
}

.underline {
	background-color: $primary-color;
	width: 220px;
	height: 5px;
	margin: 0 auto 30px;
}

.shadow-bg {
	background-color: rgba(0, 0, 0, 0.9);
}

.navbar-left {
	height: 105vh;
	overflow: hidden;
}

.mailBox {
	.hero-img {
		position: relative;
		height: 117vh;
		background-image: url('../img/backgroundMailBox.png');
		background-position: center;
		background-size: cover;
		overflow: hidden;

		.mail-container {
			position: absolute;
			top: 100px;
			left: 300px;
			width: calc(100vw - 300px);
			height: 105vh;
			padding: 20px 0;
			overflow-y: auto;

			.container {
				width: 100%;
				height: 100%;
				margin: 0 auto;
				--bs-gutter-x: 0;

				.box-container {
					position: relative;
					background-color: rgba(0, 0, 0, 0.89);
					padding: 20px;
					margin-top: 50px;
					margin: 0 auto;
					border-radius: 15px;
					width: 80%;
					min-height: 100%;
					overflow: hidden;

					.title,
					.mini-title {
						margin: 10px 40px 15px 40px;
						font-size: 22px;
						font-weight: bold;
						color: $primary-color;
						text-align: center;
						padding-bottom: 10px;
						border-bottom: 2px solid $placeHolder-color;
						letter-spacing: 1px;
					}

					.mini-title {
						font-size: 16px;
						color: $info-color;
					}

					.mini-title-warning {
						margin: 20px auto;
						padding: 20px 15px;
						background-color: rgba(0, 0, 0, 0.8);
						border-radius: 20px;
						font-size: 16px;
						font-style: italic;
						letter-spacing: 1px;
						text-align: center;
						border: 5px dotted $primary-color;
					}

					.warning-text {
						text-align: center;
						margin: 10px auto;
						max-width: 400px;
						font-weight: bold;
						background-color: #3333337a;
						border-radius: 10px;
						padding: 10px;
						padding-left: 35px;
						position: relative;
						color: $secondary-color;
						border-left: 4px solid $secondary-color;
						border-right: 4px solid $secondary-color;

						&::before {
							font-family: 'Font Awesome 5 Free';
							font-weight: 900;
							color: inherit;
							position: absolute;
							left: 10px;
							top: 50%;
							transform: translateY(-50%);
							content: '\f071';
						}
					}

					.mailbox-container {
						width: 100%;

						.mailBox-content,
						.show-mailBox-content,
						.show-replyMailBox-content {
							display: flex;
							flex-direction: column;
							padding: 20px;
							margin-bottom: 20px;
							border-bottom: 1px solid $placeHolder-color;
							background-color: rgba(65, 59, 59, 0.8);
							border-top-left-radius: 10px;
							border-top-right-radius: 10px;
							transition: transform 0.3s ease;
							position: relative;
							cursor: pointer;

							&.unread {
								font-weight: bold;
								border: 3px solid $placeHolder-color;
							}

							@media (hover: hover) and (pointer: fine) {
								&:hover {
									transform: translateX(50px);
								}

								&:hover .operation-box {
									transform: translateY(-50%) translateX(15px);
									opacity: 1;
								}
							}

							&.clicked {
								transform: translateX(50px);

								.operation-box {
									transform: translateY(-50%) translateX(15px);
									opacity: 1;
								}
							}

							.operation-box {
								position: absolute;
								left: -60px;
								top: 50%;
								transform: translateY(-50%);
								display: flex;
								flex-direction: column;
								justify-content: space-evenly;
								align-items: center;
								transition: transform 0.3s ease;
								opacity: 0;
								gap: 10px;

								button {
									border: none;
									background: none;
									padding: 5px;

									i {
										font-size: 20px;
										transition: transform 0.3s ease;
										padding-right: 16px;
									}
								}

								.infoMail-form i {
									color: $btn-bg-color;

									&:hover {
										color: $info-color;
										transform: scale(1.1);
									}
								}

								.responseMail-form i {
									color: $calendar-color-hover;

									&:hover {
										color: $icon-color;
										transform: scale(1.1);
									}
								}

								.moveToTrashMail-form i {
									color: $calendar-color;

									&:hover {
										color: $primary-color;
										transform: scale(1.1);
									}
								}
							}

							.icon {
								padding: 0px 5px;

								&.unread {
									color: $info-color;
								}
							}

							.sender-details {
								display: flex;
								align-items: center;
								margin-bottom: 10px;
								flex-wrap: wrap;

								.name,
								.surname,
								.from,
								.show-name,
								.show-surname,
								.show-from {
									font-size: 16px;
									color: $secondary-color;
									margin-right: 5px;
								}

								.surname {
									margin-right: 0;
								}

								.e-mail,
								.show-e-mail {
									font-size: 16px;
									color: $info-color;
									margin-left: auto;
									text-align: right;
								}

								.show-icon {
									font-size: 20px;
									padding-right: 8px;
								}

								.show-name,
								.show-surname,
								.show-e-mail {
									font-size: 17px;
								}

								.fa-arrow {
									padding: 0 7px;
								}

								.show-from,
								.from {
									margin: 0;
								}
							}

							.content-mail {
								flex: 1;

								.email-header,
								.show-email-header {
									display: flex;
									justify-content: space-between;
									align-items: center;
									margin-bottom: 10px;
									width: 100%;

									span {
										font-size: 15px;
										color: $text-color;
									}

									.subject {
										text-align: left;
									}

									.time {
										text-align: right;
									}
								}

								.show-email-header {
									border-top: 1px solid $calendar-color;
									border-bottom: 1px solid $calendar-color;
									margin: 0;
									padding: 10px 0;

									span {
										font-size: 17px;
									}

									span.time {
										font-size: 16px;
									}
								}

								.mail {
									font-size: 13px;
									line-height: 1.8;
									color: $text-color;
									display: inline-block;
									max-width: 100%;
									white-space: nowrap;
									overflow: hidden;
									text-overflow: ellipsis;
								}

								.show-full-mail {
									max-width: 80%;
									width: fit-content;
									font-size: 16px;
									color: $text-color;
									display: block;
									white-space: pre-wrap;
									word-wrap: break-word;
									padding: 10px 15px;
									background-color: $bg-calendar-color;
									border-radius: 10px;
									margin: 10px 0;

									i {
										padding-right: 5px;
									}

									&.left {
										text-align: left;
										margin-left: 0;
										margin-right: auto;
									}

									&.right {
										text-align: right;
										margin-left: auto;
										margin-right: 0;
										background-color: #047aa08f;
									}
								}
							}

							.noMessages {
								font-weight: bold;
								letter-spacing: 1px;
								font-size: 16px;
								text-align: center;
								color: $info-color;
								font-style: italic;
								margin-bottom: 0;
							}
						}

						.show-mailBox-content,
						.show-replyMailBox-content {
							border: 1px solid $placeHolder-color;
						}

						.show-replyMailBox-content {
							@media (hover: hover) and (pointer: fine) {
								&:hover {
									transform: translateX(0px);
								}
							}

							cursor: auto;
						}
					}

					.write-mail {
						position: absolute;
						top: 20px;
						right: 20px;
						width: 40px;
						height: 40px;
						display: flex;
						align-items: center;
						justify-content: center;
						color: $text-color;
						border: 3px solid $bg-category-color;
						border-radius: 50%;
						background-color: transparent;
						cursor: pointer;
						transition: 0.3s ease;

						&:hover {
							transform: scale(1.1);
							color: $secondary-color;
						}

						i {
							font-size: 17px;
							pointer-events: none;
						}
					}

					.write-mail-wrapper {
						position: absolute;
						top: 0px;
						left: 50%;
						width: 100%;
						height: 0;
						overflow: scroll;
						border-radius: 15px;
						background: $text-color;
						background: linear-gradient(to left, rgba(45, 76, 103, 1), rgba(65, 59, 59, 1));
						transform: translateX(-50%);
						transition: height 0.7s ease;

						&.active {
							height: 100%;
						}

						.write-mail-header {
							width: 100%;
							height: 70px;
							display: flex;
							align-items: center;
							justify-content: space-between;
							padding: 10px 20px;
							border-bottom: 2px solid #f5f5f5;

							.close {
								font-size: 24px;
								cursor: pointer;
								color: $text-color;
								padding: 10px;
								transition: 0.3s ease;

								&:hover {
									transform: scale(1.1);
									color: $primary-color;
								}
							}

							.title-mail {
								font-weight: bold;
								color: $secondary-color;
								font-size: 19px;
							}
						}

						.write-mail-body {
							width: 100%;
							display: flex;
							flex-direction: column;
							gap: 13px;
							padding: 20px;

							.write-mail-input {
								width: 100%;
								display: flex;
								align-items: center;
								justify-content: space-between;
								gap: 15px;

								input,
								textarea {
									width: 92%;
									height: 50px;
									outline: none;
									border: none;
									border: 2px solid black;
									padding: 10px;
									font-size: 16px;
									font-weight: 500;
									color: $calendar-font-color;
									border-radius: 5px;
									overflow: hidden;

									&:focus {
										outline: none;
										border-color: $calendar-color;
									}
								}

								textarea {
									min-height: 25vh;
								}

								i {
									font-size: 23px;
									padding: 0 10px;
								}
							}
						}

						.write-mail-footer {
							display: flex;
							align-items: center;
							justify-content: center;
							padding: 20px 15px;

							.write-mail-btn {
								height: 40px;
								outline: none;
								border: none;
								color: black;
								background-color: $secondary-color;
								border-radius: 5px;
								cursor: pointer;
								padding: 5px 10px;
								border: 2px solid $secondary-color;
								transition: 0.3s ease;
								letter-spacing: 1px;
								font-weight: bold;

								&:hover {
									background-color: transparent;
									color: $text-color;
								}
							}
						}
					}

					.reply-mail-body {
						width: 100%;
						display: flex;
						flex-direction: column;
						align-items: flex-end;
						justify-content: center;
						gap: 13px;
						padding: 20px 0;

						.reply-mail-area {
							width: 100%;
							display: flex;
							align-items: center;
							justify-content: flex-end;
							gap: 15px;

							textarea {
								width: 70%;
								outline: none;
								border: none;
								border: 2px solid black;
								padding: 10px;
								padding-right: 50px;
								font-size: 16px;
								font-weight: 500;
								color: $text-color;
								background-color: #047aa08f;
								border-radius: 10px;
								overflow: hidden;

								&:focus {
									outline: none;
									border-color: $calendar-color;
								}

								&::placeholder {
									color: $text-color;
								}
							}

							i {
								font-size: 23px;
							}
						}

						.reply-mail-btn {
							position: absolute;
							right: 30px;
							font-size: 10px;
							outline: none;
							border: none;
							color: black;
							background-color: $secondary-color;
							border-radius: 15px;
							cursor: pointer;
							padding: 5px;
							border: 2px solid $secondary-color;
							transition: 0.3s ease;
							font-weight: bold;

							&:hover {
								background-color: transparent;
								color: $text-color;
							}
						}
					}
				}
			}
		}
	}
}

@media (max-width: 720px) {
	.mailBox {
		.hero-img {
			.mail-container {
				left: 0px;
				width: 100%;

				.container {
					.box-container {
						width: 95%;
					}
				}
			}
		}
	}
}
