@import '_colors.scss';
@import '_animation.scss';

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	position: relative;
	color: $text-color;
	background-color: #333;
	font-family: 'Montserrat', sans-serif;
	overflow-x: hidden;
}

h2 {
	text-align: center;
	text-transform: uppercase;
}

.orange-text {
	color: $primary-color;
	font-weight: bold;
}

.gold-text {
	color: $secondary-color;
	font-weight: bold;
}

.shadow-bg {
	background-color: rgba(0, 0, 0, 0.85);
}

.underline {
	background-color: $primary-color;
	width: 220px;
	height: 5px;
	margin: 0 auto 30px;
}

.navbar-left {
	height: 170vh;
}

.exam {
	.hero-img {
		position: relative;
		height: 182vh;
		background-image: url('../img/backgroundExam.png');
		background-position: center;
		background-size: cover;
		z-index: 0;
		overflow: hidden;

		.hero-shadow {
			position: absolute;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.4);
			z-index: -5;
		}

		.box-exam {
			position: absolute;
			top: 100px;
			left: 300px;
			width: calc(100vw - 300px);
			height: 100%;
			overflow-y: auto;

			.container {
				width: 100%;
				margin: 0 auto;
				--bs-gutter-x: 0;

				.box-container {
					display: flex;
					flex-direction: column;
					align-items: center;
					padding: 0 12px;
					width: 100%;

					.header-exam {
						display: flex;
						flex-direction: row;
						justify-content: center;
						align-items: center;
						padding: 20px;
						background-color: rgba(0, 0, 0, 0.85);
						border-radius: 20px;
						font-size: 18px;
						font-style: italic;
						letter-spacing: 1px;
						text-align: center;
						margin: 10px;
						width: 100%;

						span {
							color: $category-icon;
							font-size: 20px;
							font-style: normal;
							font-weight: bold;
						}

						p {
							font-size: 18px;
							margin: 10px;
						}
					}

					.header-exam-info {
						position: relative;
						padding: 20px;
						background-color: rgba(0, 0, 0, 0.85);
						border-radius: 20px;
						font-size: 18px;
						font-style: italic;
						letter-spacing: 1px;
						margin: 10px;
						width: 100%;

						.info-exam {
							display: flex;
							flex-direction: row;
							justify-content: center;
							flex-wrap: nowrap;
							align-content: space-around;
							align-items: stretch;
							text-align: center;
							gap: 25px;
							padding-right: 40px;

							.info {
								font-style: italic;
								letter-spacing: 1px;
								text-align: center;

								.counter {
									font-size: 20px;
									font-style: normal;
								}
							}

							span {
								font-size: 20px;
								color: $icon-color;
								font-weight: bold;
							}

							p {
								font-size: 18px;
								margin-bottom: 0;
							}

							.noSpecificTimerToThink {
								display: none;
							}
						}

						.endExam {
							position: absolute;
							top: 50%;
							right: 15px;
							transform: translateY(-50%);

							button {
								background-color: $text-color;
								padding: 5px;
								border-radius: 50%;
								border: none;
							}
						}
					}

					.container-exam {
						display: flex;
						flex-direction: column;
						align-items: center;
						width: 100%;
						background-color: rgba(0, 0, 0, 0.85);
						border-radius: 20px;
						padding: 30px;
						margin-bottom: 120px;

						.exam-info {
							display: flex;
							flex-direction: row;
							align-content: space-between;
							justify-content: space-evenly;
							align-items: center;

							img,
							video {
								width: 100%;
								border-radius: 20px;
								margin: 10px;
							}

							svg {
								width: 400px;
								border-radius: 20px;
								margin: 10px;
							}

							#prepareMedia {
								text-align: center;
								padding: 20px;
								background-color: #f9f9f9;
								border-radius: 8px;
								box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
								margin: 20px;
								cursor: pointer;

								.question-content {
									display: flex;
									flex-direction: column;
									align-items: center;
									color: #444;

									.video-icon,
									.image-icon {
										margin-bottom: 10px;
										display: flex;
										align-items: center;
										justify-content: center;
										width: 100px;
										height: 100px;
										color: #888;
									}
								}
							}

							#media {
								width: 100%;
								display: none;
								justify-content: center;
							}
						}

						.normal-question,
						.specific-question {
							display: flex;
							flex-direction: column;
							align-items: center;
							justify-content: center;
							text-align: center;
							font-size: 18px;
							margin: 10px 30px;
							gap: 5px;

							.button-box {
								margin: 10px;
								display: flex;
								flex-direction: row;
								flex-wrap: wrap;
								justify-content: center;
								gap: 10px;
							}

							.info-container {
								display: flex;
								flex-direction: row;
								align-items: center;
								justify-content: center;
							}

							span {
								font-weight: bold;
								letter-spacing: 1px;
								color: $icon-color;
							}

							.content {
								font-weight: bold;
							}

							a {
								text-decoration: none;
							}

							button,
							a {
								border: none;
								outline: none;
								height: 49px;
								border-radius: 49px;
								color: $text-color;
								text-transform: uppercase;
								font-weight: 600;
								transition: 0.5s;
								margin: 10px;
								padding: 10px 20px;
								background: transparent;

								i {
									color: $text-color;
								}
							}

							button,
							a:not(:disabled) {
								cursor: pointer;
							}

							.next {
								background-color: $btn-bg-color;
							}

							#yes,
							#no {
								color: $category-icon;
								padding: 5px 20px;
								border: 2px solid $text-color;
							}

							button:hover,
							a:hover {
								scale: 1.05;
							}

							#yes.active-button,
							#no.active-button {
								scale: 1.05;
								border: 3px solid $secondary-color;
								background-color: $secondary-color;
								color: $bg-calendar-color;
							}
						}

						.specific-question {
							.button-box,
							.button-action {
								display: flex;
								flex-direction: column;
								flex-wrap: wrap;
								justify-content: center;
								align-content: center;
								align-items: center;
							}

							.button-action {
								flex-direction: row;
							}

							button {
								border: none;
								outline: none;
								height: 49px;
								border-radius: 49px;
								color: $text-color;
								background-color: transparent;
								transition: 0.3s;
								margin: 10px 20px;
								padding: 0px 10px;
								position: relative;
								font-weight: normal;
								text-transform: none;
								font-size: 16px;
							}

							.button-box {
								button {
									height: 100%;
								}
							}

							button:not(:disabled) {
								cursor: pointer;
							}

							.next {
								font-weight: bold;
								font-weight: 600;
								padding: 10px 20px;
							}

							.answer:nth-child(1)::before {
								content: 'A';
								background-color: $bg-category-color;
								padding: 5px 10px;
								position: absolute;
								border-radius: 10px;
								left: -30px;
								font-weight: bold;
								top: 50%;
								transform: translateY(-50%);
							}

							.answer:nth-child(2)::before {
								content: 'B';
								background-color: $bg-category-color;
								padding: 5px 10px;
								position: absolute;
								border-radius: 10px;
								left: -30px;
								font-weight: bold;
								top: 50%;
								transform: translateY(-50%);
							}

							.answer:nth-child(3)::before {
								content: 'C';
								background-color: $bg-category-color;
								padding: 5px 10px;
								position: absolute;
								border-radius: 10px;
								left: -30px;
								font-weight: bold;
								top: 50%;
								transform: translateY(-50%);
							}

							button:hover {
								scale: 1.05;
							}

							#answerA.active-button,
							#answerB.active-button,
							#answerC.active-button {
								scale: 1.05;
								transition: 0.3s;
							}

							#answerA.active-button::before,
							#answerB.active-button::before,
							#answerC.active-button::before {
								scale: 1.05;
								background-color: $secondary-color;
								color: $bg-calendar-color;
								transition: 0.3s;
							}
						}
					}
				}
			}
		}
	}
}

@media (max-width: 900px) {
	.navbar-left {
		display: none;
		height: 105vh;

		.navbar-nav {
			.logout {
				display: block;
			}
		}
	}

	.navbar-top {
		button {
			display: block;
		}

		.box-account {
			display: none;
		}
	}

	.exam {
		.hero-img {
			.box-exam {
				display: block;
				left: 0;
				width: 100%;

				.container {
					.box-container {
						.container-exam,
						.header-exam,
						.header-exam-info {
							.info-exam span {
								font-size: 20px;
							}
						}

						.container-exam {
							.normal-question,
							.specific-question {
								.info-container {
									flex-direction: column;
								}
							}
						}
					}
				}
			}
		}
	}
}

@media (max-width: 700px) {
	.exam {
		.hero-img {
			.box-exam {
				.container {
					.box-container {
						.container-exam {
							padding: 10px 5px;

							.exam-info {
								flex-direction: column;
								padding: 0;

								img,
								video {
									padding: 5px;
									margin: 0;
									margin-bottom: 10px;
								}

								svg {
									width: 300px;
								}
							}
						}

						.header-exam,
						.header-exam-info .info-exam {
							flex-direction: column;
						}
					}
				}
			}
		}
	}
}

@media (max-width: 500px) {
	.exam {
		.hero-img {
			.box-exam {
				.container {
					.box-container {
						.container-exam {
							.normal-question,
							.specific-question {
								.info-container {
									.content {
										margin: 5px;
										font-size: 14px;
									}

									.explain .content {
										font-size: 14px;
									}
								}

								button {
									margin: 0;
									margin-top: 10px;
									font-size: 13px;
								}
							}
						}
					}
				}
			}
		}
	}
}
