<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Szczegóły Kursu</title>

    <link rel="icon" href="/assets/img/logo.png" type="image/png"/>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet"/>

    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&display=swap" rel="stylesheet"/>

    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
            crossorigin="anonymous"/>

    <script src="https://kit.fontawesome.com/30b5c3e166.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/assets/css/navigation.css"/>
    <link rel="stylesheet" href="/assets/css/courseDetails.css"/>
</head>
<body>

<div th:replace="~{navigation :: navigation-top}"></div>
<div th:replace="~{navigation :: navigation-left}"></div>

<main>
    <section class="details">
        <div class="hero-img">
            <div class="box-container">
                <div class="box-course">
                    <div class="course-schoolUser" th:unless="${isEditCourse}">
                        <p class="title">Szczegóły Kursu</p>
                        <div class="course-details">
                            <div class="detail-title">
                                <span class="title-header">Opis</span>
                                <span class="content" th:text="${course.description}"></span>
                            </div>
                            <div class="detail">
                                <span class="title-header">Kategoria Kursu</span>
                                <span class="content">
                                    <span th:text="${course.category.nameCategory}"></span>
                                </span>
                            </div>
                            <div class="detail">
                                <span class="title-header">Czas Trwania</span>
                                <span class="content"><th:block th:text="${course.duration}"></th:block><span
                                        class="hours">h</span></span>
                            </div>
                            <div class="detail-comment" th:unless="${course.commentCourses.isEmpty()}">
                                <span class="title-header">Uwagi dla Studenta</span>
                                <ul class="comment-box">
                                    <li th:each="comment : ${course.commentCourses}">
                                        [<span class="date-time" th:text="${#temporals.format(comment.commentDate, 'yyyy-MM-dd HH:mm')}"></span>]
                                        <span th:text="${comment.instructorComment}"></span>
                                    </li>
                                </ul>
                            </div>

                            <div class="detail" th:if="${course.commentCourses.isEmpty()}">
                                <span class="title-header">Uwagi dla Studenta</span>
                                <span class="content">Brak</span>
                            </div>

                            <div class="detail">
                                <span class="title-header">Wynik Koncowy</span>
                                <span class="content"
                                      th:classappend="${course.passed == T(com.driving.school.model.Constants).COURSE_PASSED ? 'passed' : (course.passed == T(com.driving.school.model.Constants).COURSE_FAILED ? 'failed' : '')}"
                                      th:text="${course.passed}"></span>
                            </div>
                            <div class="detail">
                                <span class="title-header">Data Rozpoczęcia</span>
                                <span class="content"
                                      th:text="${#temporals.format(course.startedAt, 'yyyy-MM-dd')}"></span>
                            </div>
                            <div class="detail" th:if="${course.endAt}">
                                <span class="title-header">Data Zakończenia</span>
                                <span class="content"
                                      th:text="${#temporals.format(course.endAt, 'yyyy-MM-dd')}"></span>
                            </div>
                        </div>
                        <div class="btn-box">
                            <form th:action="@{/course/instructor/deleteCourse}" method="post">
                                <input type="hidden" name="courseId"
                                       th:value="${course.id}"/>
                                <button type="submit" class="delete-btn"><i class="fa-solid fa-trash-can"></i> Usun Kurs
                                </button>
                            </form>
                            <form th:action="@{/course/instructor/editCourse}"
                                  method="post">
                                <input type="hidden" name="courseId"
                                       th:value="${course.id}"/>
                                <button type="submit" class="info-btn"><i class="fa-regular fa-pen-to-square"></i>
                                    Edytuj Kurs
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="editCourse-schoolUser" th:if="${isEditCourse}">
                        <p class="title">Edycja Kursu</p>
                        <form class="course-details" th:action="@{/course/instructor/updateCourse}"
                              method="post" th:object="${course}" id="editCourseForm">
                            <input type="hidden" name="courseId" th:value="${course.id}"/>

                            <div class="detail-title">
                                <span class="title-header">Opis</span>
                                <input class="content" th:field="*{description}"/>
                            </div>

                            <div class="detail">
                                <span class="title-header">Kategoria Kursu</span>
                                <div class="category-container">
                                    <div class="category-box" th:each="category : ${availableCategories}">
                                        <input type="radio"
                                               th:field="*{category}"
                                               th:value="${category.id}"
                                               th:id="'category_' + ${category.id}"/>
                                        <label th:for="'category_' + ${category.id}"
                                               th:text="${category.nameCategory}">Nazwa Kategorii</label>
                                    </div>
                                </div>
                            </div>

                            <div class="detail">
                                <span class="title-header">Czas Trwania</span>
                                <span class="time">
                                    <input type="number" step="0.1" th:field="*{duration}"/>
                                    <span class="hours">h</span>
                                </span>
                            </div>

                            <div class="detail-comment">
                                <span class="title-header">Uwagi dla Studenta</span>
                                <ul class="comment-box">
                                    <li th:each="comment, iterStat : ${course.commentCourses}">
                                        <input type="hidden" th:field="*{commentCourses[__${iterStat.index}__].id}"/>
                                        <p>[<span class="date-time" th:text="${#temporals.format(comment.commentDate, 'yyyy-MM-dd HH:mm')}"></span>]</p>
                                        <input type="text" th:field="*{commentCourses[__${iterStat.index}__].instructorComment}"/>
                                    </li>
                                    <li th:object="${newCommentCourse}">
                                        <p>[<span class="date-time">Dodawanie Uwagi</span>]</p>
                                        <input type="text" th:field="*{instructorComment}" placeholder="Treść Nowej Uwagi"/>
                                    </li>
                                </ul>
                            </div>

                            <div class="detail">
                                <span class="title-header">Wynik Końcowy</span>
                                <div class="passed-box">
                                    <div class="passed">
                                        <input type="radio" id="passedTrue"
                                               th:field="*{passed}"
                                               th:value="${T(com.driving.school.model.Constants).COURSE_PASSED}"/>
                                        <label for="passedTrue"
                                               th:text="${T(com.driving.school.model.Constants).COURSE_PASSED}">Pozytywny</label>
                                    </div>

                                    <div class="passed">
                                        <input type="radio" id="passedFalse"
                                               th:field="*{passed}"
                                               th:value="${T(com.driving.school.model.Constants).COURSE_FAILED}"/>
                                        <label for="passedFalse"
                                               th:text="${T(com.driving.school.model.Constants).COURSE_FAILED}">Negatywny</label>
                                    </div>

                                    <div class="passed">
                                        <input type="radio" id="passedNone"
                                               th:field="*{passed}"
                                               th:value="${T(com.driving.school.model.Constants).COURSE_NOTSPECIFIED}"/>
                                        <label for="passedNone"
                                               th:text="${T(com.driving.school.model.Constants).COURSE_NOTSPECIFIED}">Nie
                                            określono</label>
                                    </div>
                                </div>
                            </div>

                            <div class="detail">
                                <span class="title-header">Data Rozpoczęcia</span>
                                <span class="content"
                                      th:text="${#temporals.format(course.startedAt, 'yyyy-MM-dd')}"></span>
                            </div>

                            <div class="detail" th:if="${course.endAt}">
                                <span class="title-header">Data Zakończenia</span>
                                <span class="content" th:text="${#temporals.format(course.endAt, 'yyyy-MM-dd')}"></span>
                            </div>
                        </form>
                        <div class="btn-box">
                            <button type="button" class="cancel-btn"
                                    onclick="document.getElementById('backCourseForm').submit();">Anuluj
                            </button>
                            <button onclick="document.getElementById('editCourseForm').submit();" class="add-btn">Zapisz
                                Kurs
                            </button>
                        </div>
                    </div>
                    <form id="backCourseForm" hidden="hidden" method="post"
                          th:action="@{/course/showCourse}">
                        <input type="hidden" name="courseId" th:value="${course.id}"/>
                    </form>
                </div>
                <div class="box-drivingSessions">
                    <div class="account-drivingSessions">
                        <p class="title" th:unless="${course.drivingSessions.isEmpty()}">Sesje Jazd</p>
                        <p class="title" th:if="${course.drivingSessions.isEmpty()}">Brak Sesji Jazd</p>
                        <div class="schoolUser-drivingSessions">
                            <th:block th:unless="${isEditDrivingSession}">
                                <div class="drivingSession" th:each="drivingSession : ${course.drivingSessions}">
                                    <div class="operations" sec:authorize="hasRole('ROLE_INSTRUCTOR')">
                                        <form th:action="@{/course/instructor/deleteDrivingSession}" method="post">
                                            <input type="hidden" name="drivingSessionId"
                                                   th:value="${drivingSession.id}"/>
                                            <button type="submit" class="delete-btn"><i
                                                    class="fa-solid fa-trash-can"></i>
                                            </button>
                                        </form>
                                        <form th:action="@{/course/instructor/editDrivingSession}"
                                              method="post">
                                            <input type="hidden" name="drivingSessionId"
                                                   th:value="${drivingSession.id}"/>
                                            <button type="submit" class="info-btn"><i
                                                    class="fa-regular fa-pen-to-square"></i>
                                            </button>
                                        </form>
                                    </div>
                                    <div class="box">
                                        <span class="content">
                                        <img th:src="@{'/assets/img/category/svg/' + ${course.category.nameCategory} + '.svg'}" th:alt="'ikona'+${course.category.nameCategory}">
                                            <span class="title-header" th:text="${#temporals.format(drivingSession.sessionDate, 'yyyy-MM-dd HH:mm')}"></span> <th:block
                                                th:text="${drivingSession.instructorComment}"></th:block></span>
                                        <span class="time"><th:block
                                                th:text="${#numbers.formatDecimal(drivingSession.durationHours, 0, 1)}"></th:block><span
                                                class="hours">h</span></span>
                                    </div>
                                </div>
                            </th:block>
                            <th:block th:if="${isEditDrivingSession}">
                                <th:block th:each="drivingSession : ${course.drivingSessions}">
                                    <div class="editDrivingSession"
                                         th:if="${drivingSession.id == editDrivingSession.id}">
                                        <form class="box-edit" method="post"
                                              th:action="@{/course/instructor/updateDrivingSession}"
                                              th:object="${editDrivingSession}">
                                            <input type="hidden" name="editDrivingSessionId"
                                                   th:value="${editDrivingSession.id}"/>
                                            <div class="rowSession top-row">
                                                <span class="title-header">
                                                    <img th:src="@{'/assets/img/category/svg/' + ${course.category.nameCategory} + '.svg'}" th:alt="'ikona'+${course.category.nameCategory}">
                                                    <th:block th:text="${#temporals.format(drivingSession.sessionDate, 'yyyy-MM-dd HH:mm')}"></th:block>
                                                </span>
                                                <span class="time">
                                                    <input type="number" step="0.1" th:field="*{durationHours}"/>
                                                    <span class="hours">h</span>
                                                </span>
                                            </div>
                                            <div class="rowSession comment-row">
                                                <input type="text" th:field="*{instructorComment}"
                                                       placeholder="Wprowadź komentarz"/>
                                            </div>
                                            <div class="button-group">
                                                <button type="button" class="cancel-btn"
                                                        onclick="document.getElementById('backCourseForm').submit();">Anuluj
                                                </button>
                                                <button type="submit" class="add-btn">Zapisz</button>
                                            </div>
                                        </form>
                                    </div>

                                    <div class="drivingSession"
                                         th:unless="${drivingSession.id == editDrivingSession.id}">
                                        <div class="operations" sec:authorize="hasRole('ROLE_INSTRUCTOR')">
                                            <form th:action="@{/course/instructor/deleteDrivingSession}" method="post">
                                                <input type="hidden" name="drivingSessionId"
                                                       th:value="${drivingSession.id}"/>
                                                <button type="submit" class="delete-btn"><i
                                                        class="fa-solid fa-trash-can"></i>
                                                </button>
                                            </form>
                                            <form th:action="@{/course/instructor/editDrivingSession}"
                                                  method="post">
                                                <input type="hidden" name="drivingSessionId"
                                                       th:value="${drivingSession.id}"/>
                                                <button type="submit" class="info-btn"><i
                                                        class="fa-regular fa-pen-to-square"></i>
                                                </button>
                                            </form>
                                        </div>
                                        <div class="box">
                                            <span class="content">
                                                <img th:src="@{'/assets/img/category/svg/' + ${course.category.nameCategory} + '.svg'}" th:alt="'ikona'+${course.category.nameCategory}">
                                                <span class="title-header" th:text="${#temporals.format(drivingSession.sessionDate, 'yyyy-MM-dd HH:mm')}"></span> <th:block
                                                    th:text="${drivingSession.instructorComment}"></th:block></span>
                                            <span class="time"><th:block
                                                    th:text="${#numbers.formatDecimal(drivingSession.durationHours, 0, 1)}"></th:block><span
                                                    class="hours">h</span></span>
                                        </div>
                                    </div>
                                </th:block>
                            </th:block>
                            <div class="drivingSession" th:if="${course.drivingSessions.isEmpty()}">
                                <div class="box">
                                    <span class="content"><span class="title-header">Nie dodano jeszcze żadnych sesji jazdy.</span></span>
                                    <span class="time">Dodaj pierwszą<span class="hours">sesję</span>!</span>
                                </div>
                            </div>
                            <div class="drivingSummary">
                                <div class="box">
                                    <span class="content"><span class="title-header">Podsumowanie</span> Łączna ilość przejechanych godzin</span>
                                    <span class="time">
                                        <th:block th:text="${course.summaryDurationHours == 0 ? '0' : #numbers.formatDecimal(course.summaryDurationHours, 0, 1)}"></th:block>
                                        <span class="hours">h</span>
                                    </span>
                                </div>
                            </div>

                            <div class="newDrivingSession">
                                <form class="box-new" method="post" th:action="@{/course/instructor/addDrivingSession}"
                                      th:object="${newDrivingSession}">
                                    <input type="hidden" name="courseId" th:value="${course.id}"/>
                                    <div class="title-box">
                                        <p>Dodawanie Sesji Jazdy</p>
                                        <hr>
                                    </div>
                                    <div class="rowSession comment-row">
                                        <span class="title-header">Uwagi oraz Komentarze do Jazdy</span>
                                        <input type="text" th:field="*{instructorComment}"
                                               placeholder="Wprowadź komentarz"/>
                                    </div>

                                    <div class="rowSession bottom-row">
                                        <span class="title-header">Odbyte Godziny Jazdy</span>
                                        <input type="number" placeholder="Godz" step="0.1" th:field="*{durationHours}"/>
                                        <span class="hours">h</span>
                                    </div>

                                    <button type="submit" class="add-btn">Dodaj</button>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="box-testCourses">
                    <div class="account-testCourses">
                        <p class="title" th:unless="${course.testCourses.isEmpty()}">Wyniki Testów</p>
                        <p class="title" th:if="${course.testCourses.isEmpty()}">Brak Wyników Testów</p>
                        <div class="schoolUser-testCourses" th:with="Constants=${T(com.driving.school.model.Constants)}">
                            <th:block th:unless="${isEditTestCourse}">
                                <div class="testCourse" th:each="testCourse : ${course.testCourses}">
                                    <div class="operations" sec:authorize="hasRole('ROLE_INSTRUCTOR')">
                                        <form th:action="@{/course/instructor/deleteTestCourse}" method="post">
                                            <input type="hidden" name="testCourseId"
                                                   th:value="${testCourse.id}"/>
                                            <button type="submit" class="delete-btn"><i
                                                    class="fa-solid fa-trash-can"></i>
                                            </button>
                                        </form>
                                        <form th:action="@{/course/instructor/editTestCourse}"
                                              method="post">
                                            <input type="hidden" name="testCourseId"
                                                   th:value="${testCourse.id}"/>
                                            <button type="submit" class="info-btn"><i
                                                    class="fa-regular fa-pen-to-square"></i>
                                            </button>
                                        </form>
                                    </div>
                                    <div class="box">
                                        <span class="content">
                                            <th:block th:if="${testCourse.testType.equals(Constants.COURSE_TEST_GENERAL)}">
                                                <img src="/assets/img/generalTest.svg" alt="ikona testu ogolnego">
                                            </th:block>
                                            <th:block th:if="${testCourse.testType.equals(Constants.COURSE_TEST_PRACTICAL)}">
                                                <img src="/assets/img/practicalTest.svg" alt="ikona testu praktycznego">
                                            </th:block>
                                            <th:block th:if="${testCourse.testType.equals(Constants.COURSE_TEST_THEORETICAL)}">
                                                <img src="/assets/img/theoreticalTest.svg" alt="ikona testu teoretycznego">
                                            </th:block>
                                            <span class="title-header" th:text="${#temporals.format(testCourse.testDate, 'yyyy-MM-dd HH:mm')}"></span> <th:block
                                                th:text="${testCourse.instructorComment}"></th:block>
                                        </span>
                                        <span class="percentagesResult">
                                            <th:block th:text="${testCourse.testResult == 0 ? '0' : #numbers.formatDecimal(testCourse.testResult, 0, 2)}"></th:block>
                                            <span class="percentages">%</span></span>
                                    </div>
                                </div>
                            </th:block>
                            <th:block th:if="${isEditTestCourse}">
                                <th:block th:each="testCourse : ${course.testCourses}" th:with="Constants=${T(com.driving.school.model.Constants)}">
                                    <div class="editTestCourse"
                                         th:if="${testCourse.id == editTestCourse.id}">
                                        <form class="box-edit" method="post"
                                              th:action="@{/course/instructor/updateTestCourse}"
                                              th:object="${editTestCourse}">
                                            <input type="hidden" name="editTestCourseId"
                                                   th:value="${editTestCourse.id}"/>
                                            <div class="rowTestCourse top-row">
                                                <span class="title-header"
                                                      th:text="${#temporals.format(editTestCourse.testDate, 'yyyy-MM-dd HH:mm')}"></span>
                                                <span class="percentagesResult">
                                                    <input type="number" step="0.01" max="100" th:field="*{testResult}"/>
                                                    <span class="percentages">%</span>
                                                </span>
                                            </div>

                                            <div class="rowTestCourse type-row">
                                                <span class="title-header">Rodzaj Testu</span>
                                                <div class="testType">
                                                    <div class="type">
                                                        <input type="radio" id="typeGeneral"
                                                               th:field="*{testType}"
                                                               th:value="${Constants.COURSE_TEST_GENERAL}"/>
                                                        <label for="typeGeneral" title="Jest to ogolny rodzaj testu (teoria+praktyka)."><img src="/assets/img/generalTest.svg" alt="ikona testu ogolnego"></label>
                                                    </div>

                                                    <div class="type">
                                                        <input type="radio" id="typePractical"
                                                               th:field="*{testType}"
                                                               th:value="${Constants.COURSE_TEST_PRACTICAL}"/>
                                                        <label for="typePractical" title="Jest to praktyczny rodzaj testu."><img src="/assets/img/practicalTest.svg" alt="ikona testu praktycznego"></label>
                                                    </div>

                                                    <div class="type">
                                                        <input type="radio" id="typeTheoretical"
                                                               th:field="*{testType}"
                                                               th:value="${Constants.COURSE_TEST_THEORETICAL}"/>
                                                        <label for="typeTheoretical" title="Jest to teoratyczny rodzaj testu."><img src="/assets/img/theoreticalTest.svg" alt="ikona testu teoretycznego"></label>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="rowTestCourse comment-row">
                                                <input type="text" th:field="*{instructorComment}"
                                                       placeholder="Wprowadź komentarz"/>
                                            </div>
                                            <div class="button-group">
                                                <button type="button" class="cancel-btn"
                                                        onclick="document.getElementById('backCourseForm').submit();">Anuluj
                                                </button>
                                                <button type="submit" class="add-btn">Zapisz</button>
                                            </div>
                                        </form>
                                    </div>

                                    <div class="testCourse" th:unless="${testCourse.id == editTestCourse.id}">
                                        <div class="operations" sec:authorize="hasRole('ROLE_INSTRUCTOR')">
                                            <form th:action="@{/course/instructor/deleteTestCourse}" method="post">
                                                <input type="hidden" name="testCourseId"
                                                       th:value="${testCourse.id}"/>
                                                <button type="submit" class="delete-btn"><i
                                                        class="fa-solid fa-trash-can"></i>
                                                </button>
                                            </form>
                                            <form th:action="@{/course/instructor/editTestCourse}"
                                                  method="post">
                                                <input type="hidden" name="testCourseId"
                                                       th:value="${testCourse.id}"/>
                                                <button type="submit" class="info-btn"><i
                                                        class="fa-regular fa-pen-to-square"></i>
                                                </button>
                                            </form>
                                        </div>
                                        <div class="box">
                                        <span class="content">
                                            <th:block th:if="${testCourse.testType.equals(Constants.COURSE_TEST_GENERAL)}">
                                                <img src="/assets/img/generalTest.svg" title="Jest to ogolny rodzaj testu (teoria+praktyka)." alt="ikona testu ogolnego">
                                            </th:block>
                                            <th:block th:if="${testCourse.testType.equals(Constants.COURSE_TEST_PRACTICAL)}">
                                                <img src="/assets/img/practicalTest.svg" title="Jest to praktyczny rodzaj testu." alt="ikona testu praktycznego">
                                            </th:block>
                                            <th:block th:if="${testCourse.testType.equals(Constants.COURSE_TEST_THEORETICAL)}">
                                                <img src="/assets/img/theoreticalTest.svg" title="Jest to teoratyczny rodzaj testu." alt="ikona testu teoretycznego">
                                            </th:block>
                                            <span class="title-header" th:text="${#temporals.format(testCourse.testDate, 'yyyy-MM-dd HH:mm')}"></span> <th:block
                                                th:text="${testCourse.instructorComment}"></th:block>
                                        </span>
                                            <span class="percentagesResult">
                                            <th:block th:text="${testCourse.testResult == 0 ? '0' : #numbers.formatDecimal(testCourse.testResult, 0, 2)}"></th:block>
                                            <span class="percentages">%</span></span>
                                        </div>
                                    </div>
                                </th:block>
                            </th:block>
                            <div class="testCourse" th:if="${course.testCourses.isEmpty()}">
                                <div class="box">
                                    <span class="content"><span class="title-header">Nie dodano jeszcze żadnych wyników testów.</span></span>
                                    <span class="percentagesResult">Dodaj pierwszy<span class="percentages">Test</span>!</span>
                                </div>
                            </div>
                            <div class="testCourseSummary">
                                <div class="box">
                                    <span class="content"><span class="title-header">Podsumowanie</span> Średnia wyników wszystkich testów</span>
                                    <span class="percentagesResult">
                                      <th:block th:text="${course.summaryAverageResultTest == 0 ? '0' : #numbers.formatDecimal(course.summaryAverageResultTest, 0, 2)}"></th:block>
                                        <span class="percentages">%</span>
                                    </span>
                                </div>
                            </div>

                            <div class="newTestCourse">
                                <form class="box-new" method="post" th:action="@{/course/instructor/addTestCourse}"
                                      th:object="${newTestCourse}">
                                    <input type="hidden" name="courseId" th:value="${course.id}"/>
                                    <div class="title-box">
                                        <p>Dodawanie Wyniku Testu</p>
                                        <hr>
                                    </div>

                                    <div class="rowTestCourse type-row">
                                        <span class="title-header">Rodzaj Testu</span>
                                        <div class="testType">
                                            <div class="type">
                                                <input type="radio" id="typeGeneralTest"
                                                       th:field="*{testType}"
                                                       th:value="${Constants.COURSE_TEST_GENERAL}"/>
                                                <label for="typeGeneralTest" title="Jest to ogolny rodzaj testu (teoria+praktyka)."><img src="/assets/img/generalTest.svg" alt="ikona testu ogolnego"></label>
                                            </div>

                                            <div class="type">
                                                <input type="radio" id="typePracticalTest"
                                                       th:field="*{testType}"
                                                       th:value="${Constants.COURSE_TEST_PRACTICAL}"/>
                                                <label for="typePracticalTest" title="Jest to praktyczny rodzaj testu."><img src="/assets/img/practicalTest.svg" alt="ikona testu praktycznego"></label>
                                            </div>

                                            <div class="type">
                                                <input type="radio" id="typeTheoreticalTest"
                                                       th:field="*{testType}"
                                                       th:value="${Constants.COURSE_TEST_THEORETICAL}"/>
                                                <label for="typeTheoreticalTest" title="Jest to teoratyczny rodzaj testu."><img src="/assets/img/theoreticalTest.svg" alt="ikona testu teoretycznego"></label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="rowTestCourse comment-row">
                                        <span class="title-header">Uwagi oraz Komentarze do Testu</span>
                                        <input type="text" th:field="*{instructorComment}"
                                               placeholder="Wprowadź komentarz"/>
                                    </div>

                                    <div class="rowTestCourse bottom-row">
                                        <span class="title-header">Wynik Testu</span>
                                        <input type="number" placeholder="Proc." step="0.01" max="100" th:field="*{testResult}"/>
                                        <span class="percentages">%</span>
                                    </div>

                                    <button type="submit" class="add-btn">Dodaj</button>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <br/>
    <br/>

    <h2>Kontakt</h2>
    <div class="underline"></div>

    <section id="contact" class="contact">
        <div class="container">
            <div class="row text-center contact-us">
                <div class="order-1 col-sm-6 col-lg-4 contact-item">
                    <h3>Główna Siedziba</h3>
                    <p>ul. Złota 44</p>
                    <p>12-432 Warszawa</p>
                    <p>+48 492 345 234</p>
                    <p>DrivingSchool@gmail.com</p>
                </div>

                <div class="order-0 order-lg-1 col-lg-4 contact-item">
                    <h3>Social Media</h3>
                    <div class="social-media">
                        <a href="#"><i class="fab fa-facebook"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>

                <div class="order-1 col-sm-6 col-lg-4 contact-item">
                    <h3>Siedziba Poboczna</h3>
                    <p>ul. Wiejska 45A</p>
                    <p>32-643 Białystok</p>
                    <p>+48 537 943 743</p>
                    <p>DrivingSchool@apple.pl</p>
                </div>
            </div>
        </div>

        <div class="contact-shadow"></div>
    </section>
</main>

<footer class="py-4 text-center">
    <p class="mb-0">
        &copy 2077 | <span class="gold-text"><i class="fa-sharp fa-solid fa-School"></i></span>
        <span class="orange-text">Driving</span> <span class="gold-text">School</span>
    </p>
</footer>

<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script src="/assets/js/aosSettings.js"></script>
<script src="/assets/js/navigation.js"></script>
<script src="/assets/js/course.js"></script>
</body>
</html>
