<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Edycja Rozdziału</title>

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet"/>

    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&display=swap" rel="stylesheet"/>

    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
            crossorigin="anonymous"/>

    <script src="https://kit.fontawesome.com/30b5c3e166.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/assets/css/lecture.css"/>
    <link rel="stylesheet" href="/assets/css/navigation.css"/>
</head>
<body data-bs-spy="scroll" data-bs-target="#navbar">
<div th:replace="~{loadingCar :: loadingCar}"></div>
<div th:replace="~{navigation :: navigation-top}"></div>
<div th:replace="~{navigation :: navigation-left}"></div>

<main>
    <section class="subject">
        <div class="hero-img">
            <div class="hero-shadow"></div>
            <div class="box-subject">
                <div class="box-container">
                    <div class="container" th:each="lecture : ${lectureList}">
                        <div class="container-lecture">
                            <div class="lecture-details">
                                <p class="title" th:text="${lecture.name}"></p>
                                <p
                                        class="content"
                                        th:unless="${lecture.content == null or lecture.content.isEmpty()}"
                                        th:text="${lecture.content}"></p>
                            </div>
                        </div>

                        <div class="container-sublecture">
                            <div class="box-sublecture" th:each="sublecture : ${lecture.getSublectures()}">
                                <div class="sublecture-details">
                                    <h4
                                            th:unless="${sublecture.title == null or sublecture.title.isEmpty()}"
                                            th:text="${sublecture.title}"></h4>
                                    <p
                                            th:unless="${sublecture.content == null or sublecture.content.isEmpty()}"
                                            th:text="${sublecture.content}"></p>
                                </div>
                                <div class="subject-details" th:each="subject : ${sublecture.getSubjects()}">
                                    <div th:if="${subject.id} != ${newSubject.id}">
                                        <p th:unless="${subject.title == null or subject.title.isEmpty()}"
                                           th:text="${subject.title}"></p>
                                        <div class="img-block">
                                            <img th:if="${subject.image}" th:src="${subject.getImageBase64()}"
                                                 th:alt="${subject.title}"/>
                                        </div>
                                        <p
                                                th:unless="${subject.content == null or subject.content.isEmpty()}"
                                                th:text="${subject.content}"></p>

                                    </div>
                                    <form
                                            th:if="${subject.id} == ${newSubject.id}"
                                            name="editSubject"
                                            th:action="@{/lecture/editSubject}"
                                            method="post"
                                            th:object="${newSubject}"
                                            class="editSubjectForm"
                                            enctype="multipart/form-data">
                                        <input type="hidden" name="_csrf" value="${_csrf.token}"/>
                                        <p class="formTitle">Edycja Rozdziału</p>
                                        <div class="input-field">
                                            <i class="fas fa-chalkboard-teacher"></i>
                                            <input
                                                    type="text"
                                                    name="subjectTitle"
                                                    placeholder="Nazwa Rozdziału"
                                                    th:field="*{title}"
                                                    required/>
                                        </div>
                                        <div class="input-file" th:data-sublecture="${sublecture.id}" th:data-subject="${subject.id}">
                                            <h3 class="title-file">Zamień swój plik na nowy poprzez:</h3>
                                            <div class="drag-area">
                                                <div class="icon">
                                                    <i class="fas fa-images"></i>
                                                </div>
                                                <span class="header first">Przeciągnij & Upuść</span>
                                                <span class="header second">lub <span
                                                        class="button">Zaimportuj</span></span>
                                                <span class="support">Wspieramy: JPEG, PNG, JPG</span>
                                            </div>
                                            <input type="file" hidden accept="image/*" th:field="*{file}" th:id="'sublectures[' + ${sublecture.id} + '].subjects[' + ${subject.id} + ']'" />
                                        </div>
                                        <div class="input-field">
                                            <i class="fas fa-align-left"></i>
                                            <textarea
                                                    name="subjectContent"
                                                    placeholder="Treść Rozdziału"
                                                    rows="5"
                                                    th:field="*{content}">
                                            </textarea>
                                        </div>
                                        <div class="box-btn">
                                            <button type="button" class="info-btn back-btn">Wróć</button>
                                            <button type="button" class="delete-btn">Usuń</button>
                                            <button type="submit" class="add-btn">Zaktualizuj</button>
                                        </div>
                                    </form>
                                    <form th:action="@{/lecture/deleteSubject}" method="post" id="deleteSubjectForm">
                                        <input type="hidden" th:name="${_csrf}" th:value="${_csrf.token}"/>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <br/>
    <br/>

    <h2>Kontakt</h2>
    <div class="underline"></div>

    <section id="contact" class="contact">
        <div class="container">
            <div class="row text-center contact-us">
                <div class="order-1 col-sm-6 col-lg-4 contact-item">
                    <h3>Główna Siedziba</h3>
                    <p>ul. Złota 44</p>
                    <p>12-432 Warszawa</p>
                    <p>+48 492 345 234</p>
                    <p>DrivingSchool@gmail.com</p>
                </div>

                <div class="order-0 order-lg-1 col-lg-4 contact-item">
                    <h3>Social Media</h3>
                    <div class="social-media">
                        <a href="#"><i class="fab fa-facebook"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>

                <div class="order-1 col-sm-6 col-lg-4 contact-item">
                    <h3>Siedziba Poboczna</h3>
                    <p>ul. Wiejska 45A</p>
                    <p>32-643 Białystok</p>
                    <p>+48 537 943 743</p>
                    <p>DrivingSchool@apple.pl</p>
                </div>
            </div>
        </div>

        <div class="contact-shadow"></div>
    </section>
</main>

<footer class="py-4 text-center">
    <p class="mb-0">
        &copy 2077 | <span class="gold-text"><i class="fa-sharp fa-solid fa-School"></i></span>
        <span class="orange-text">Driving</span> <span class="gold-text">School</span>
    </p>
</footer>

<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script src="/assets/js/aosSettings.js"></script>
<script src="/assets/js/navigation.js"></script>
<script src="/assets/js/loadTextarea.js"></script>
<script src="/assets/js/dragAndDrop.js"></script>
<script src="/assets/js/editSubject.js"></script>
</body>
</html>