<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Pytanie w Tescie</title>

    <link rel="icon" href="/assets/img/logo.png" type="image/png"/>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet"/>

    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&display=swap" rel="stylesheet"/>

    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
            crossorigin="anonymous"/>

    <script src="https://kit.fontawesome.com/30b5c3e166.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/assets/css/navigation.css"/>
    <link rel="stylesheet" href="/assets/css/solveTest.css"/>
    <link rel="stylesheet" href="/assets/css/contact.css"/>
</head>
<body>
<div th:replace="~{loadingCar :: loadingCar}"></div>
<div th:replace="~{navigation :: navigation-top}"></div>
<div th:replace="~{navigation :: navigation-left}"></div>

<main>
    <section class="test">
        <div class="hero-img">
            <div class="hero-shadow"></div>
            <div class="box-test">
                <div class="container">
                    <div class="box-container">
                    <th:block
                            th:if="${question.questionNumber != 0 && question.questionNumber != test.numberQuestions + 1}">
                        <div class="header-test">
                            <div class="box">
                                <img th:if="${test.image}" th:src="${test.getImageBase64()}" th:alt="${test.name}"/>
                                <p th:text="${test.name}">Znaki ostrzegawcze</p>
                            </div>
                            <p th:if="${#strings.equals(selectedTypeQuestions, 'remainingQuestions')}"><span
                                    th:text="${question.questionNumber}">3</span> /
                                <th:block th:text="${test.numberQuestions}"></th:block>
                                pytań
                            </p>
                            <p hidden="hidden" id="isLiked" th:data-is-liked="${isLiked}"></p>
                            <div class="star-box">
                                <i class="fas fa-star star" id="star"></i>
                                <div class="circle c-1">
                                    <div class="inner-circle"></div>
                                    <div class="c-orange"></div>
                                </div>
                                <div class="circle c-2"></div>
                                <div class="circle c-3"></div>
                                <div class="circle c-4"></div>
                            </div>
                        </div>
                        <div class="container-test">
                            <div class="test-info">
                                <th:block th:if="${!question.mediaName.isEmpty()}">
                                    <th:block th:if="${#strings.endsWith(question.mediaName, '.jpg')}">
                                        <img th:src="'/assets/Visualization_Of_Questions/' + ${question.mediaName}"
                                             th:alt="${question.mediaName}">
                                    </th:block>

                                    <th:block th:if="${#strings.endsWith(question.mediaName, '.mp4')}">
                                        <video controls autoplay muted>
                                            <source th:src="@{'/assets/Visualization_Of_Questions/' + ${question.mediaName}}"
                                                    type="video/mp4">
                                            Twoja przeglądarka nie wspiera tagu filmu.
                                        </video>
                                    </th:block>
                                </th:block>

                                <th:block th:if="${question.mediaName.isEmpty()}">
                                    <th:block th:replace="~{carAnimation :: driving-school-car}"></th:block>
                                </th:block>

                            </div>

                            <div th:if="${question.availableAnswers == 2}" class="normal-question">
                                <div class="info-container">
                                    <p class="content">
                                        <th:block th:text="${question.question}"></th:block> (<th:block th:text="${question.points} + 'pkt'"></th:block>)
                                    </p>
                                </div>

                                <div class="button-box">
                                    <button id="no">Nie</button>
                                    <button id="skip" class="next">Pomiń</button>
                                    <button id="yes">Tak</button>
                                </div>
                            </div>

                            <div th:if="${question.availableAnswers == 3}" class="specific-question">
                                <div class="info-container">
                                    <p class="content">
                                        <th:block th:text="${question.question}"></th:block> (<th:block th:text="${question.points} + 'pkt'"></th:block>)
                                    </p>
                                </div>
                                <div class="button-box">
                                    <button th:text="${question.answerA}" class="answer" id="answerA">Bezpieczny,
                                        mniejszy niz 1 metr.
                                    </button
                                    >
                                    <button th:text="${question.answerB}" class="answer" id="answerB">Kazdy odstep, ale
                                        bezpieczny.
                                    </button
                                    >
                                    <button th:text="${question.answerC}" class="answer" id="answerC">Nie mniejszy niz 1
                                        metr.
                                    </button>
                                </div>
                                <button class="next" id="skip">Pomiń</button>
                            </div>
                        </div>
                    </th:block>

                    <th:block th:if="${question.questionNumber == 0}">
                        <div class="header-test">
                            <div class="box">
                                <img th:if="${test.image}" th:src="${test.getImageBase64()}" th:alt="${test.name}"/>
                                <p th:text="${test.name}">Znaki ostrzegawcze</p>
                            </div>
                            <p th:if="${#strings.equals(selectedTypeQuestions, 'remainingQuestions')}"><span>0</span>
                                pytań</p>
                        </div>

                        <div class="container-test">
                            <div class="test-info">
                                <div class="test-info">
                                    <th:block th:replace="~{carAnimation :: crash-car}"></th:block>
                                </div>
                            </div>
                            <div class="normal-question">
                                <div class="info-container">
                                    <p th:if="${#strings.equals(selectedTypeQuestions, 'correctAnswers')}">Brak
                                        poprawnych odpowiedzi do pytań w teście!</p>
                                    <p th:if="${#strings.equals(selectedTypeQuestions, 'incorrectAnswers')}">Brak
                                        niepoprawnych odpowiedzi do pytań w teście!</p>
                                    <p th:if="${#strings.equals(selectedTypeQuestions, 'skippedQuestions')}">Brak
                                        pominietych pytań w teście!</p>
                                    <p th:if="${#strings.equals(selectedTypeQuestions, 'likedQuestions')}">Brak
                                        polubionych pytań w teście!</p>
                                    <p th:if="${#strings.equals(selectedTypeQuestions, 'remainingQuestions')}">Brak
                                        dostępnych pytań w teście!</p>
                                </div>
                                <div class="button-box">
                                    <button id="back" class="back">Powrót</button>
                                </div>
                            </div>
                        </div>
                    </th:block>

                    <th:block th:if="${question.questionNumber == test.numberQuestions + 1}">
                        <div class="header-test">
                            <div class="box">
                                <img th:if="${test.image}" th:src="${test.getImageBase64()}" th:alt="${test.name}"/>
                                <p th:text="${test.name}">Znaki ostrzegawcze</p>
                            </div>
                            <p th:if="${#strings.equals(selectedTypeQuestions, 'remainingQuestions')}"><span
                                    th:text="${test.numberQuestions}">3</span> /
                                <th:block th:text="${test.numberQuestions}"></th:block>
                                pytań
                            </p>
                        </div>

                        <div class="container-test">
                            <div class="test-info">
                                <th:block th:replace="~{carAnimation :: sport-car}"></th:block>
                            </div>
                            <div class="normal-question">
                                <div class="info-container">
                                    <p>Gratulacje ukończyłeś ten dział!</p>
                                </div>
                                <div class="button-box">
                                    <button id="back" class="back">Powrót</button>
                                </div>
                            </div>
                        </div>
                    </th:block>

                    <form hidden="hidden" th:action="@{/tests/action}" method="post" id="form">
                        <input type="hidden" name="testId" th:value="${test.id}"/>
                        <input type="hidden" name="questionId" th:value="${question.id ?: 0}"/>
                        <input type="hidden" name="isLiked"/>
                        <input type="hidden" name="action"/>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <br/>
    <br/>

    <div th:replace="~{contact_footer :: contact}"></div>
</main>

<div th:replace="~{contact_footer :: footer}"></div>

<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script src="/assets/js/aosSettings.js"></script>
<script src="/assets/js/navigation.js"></script>
<script src="/assets/js/solveTest.js"></script>
</body>
</html>